<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.7"/>
    <hudson.security.AuthorizationMatrixProperty>
      <inheritanceStrategy class="org.jenkinsci.plugins.matrixauth.inheritance.InheritParentStrategy"/>
      <permission>USER:hudson.model.Item.Build:EILMRUA</permission>
      <permission>USER:hudson.model.Item.Cancel:EILMRUA</permission>
      <permission>USER:hudson.model.Item.Configure:EILMRUA</permission>
      <permission>USER:hudson.model.Item.Read:EILMRUA</permission>
      <permission>USER:hudson.model.Item.Workspace:EILMRUA</permission>
      <permission>USER:hudson.model.Run.Delete:EILMRUA</permission>
      <permission>USER:hudson.model.Run.Update:EILMRUA</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.8">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.ericsson.duraci.messaging.ImplicitMessagingContributorProperty plugin="eiffel-core@75.0.1">
      <scriptEnabled>false</scriptEnabled>
    </com.ericsson.duraci.messaging.ImplicitMessagingContributorProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>60</daysToKeep>
        <numToKeep>60</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@2.2.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <com.ericsson.duraci.messaging.SequentialSemanticEiffelMessageLinkingJobProperty plugin="eiffel-core@75.0.1">
      <sequentialLinkingEnabled>false</sequentialLinkingEnabled>
    </com.ericsson.duraci.messaging.SequentialSemanticEiffelMessageLinkingJobProperty>
    <com.ericsson.duraci.messaging.ImplicitEiffelConfigurationNotificationMessagingJobProperty plugin="eiffel-core@75.0.1">
      <messagingEnabled>false</messagingEnabled>
    </com.ericsson.duraci.messaging.ImplicitEiffelConfigurationNotificationMessagingJobProperty>
    <com.ericsson.duraci.messaging.ImplicitEiffelMessagingJobProperty plugin="eiffel-core@75.0.1">
      <messagingEnabled>false</messagingEnabled>
      <jobFinishedDisabled>false</jobFinishedDisabled>
    </com.ericsson.duraci.messaging.ImplicitEiffelMessagingJobProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.33">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>test_phase</name>
          <description>The test phase being run</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>MTE</string>
              <string>DROPBACK</string>
              <string>PLM</string>
              <string>RTD</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>drop</name>
          <description>Drop for upgrade&lt;br&gt;
Example: 18.02</description>
          <defaultValue>21.08</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>product_set_version</name>
          <description>The Product Set version of vENM to upgrade to&lt;br&gt;
Example: 18.02.19</description>
          <defaultValue>21.08.16</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>cluster_id</name>
          <description>Deployment name of Cloud Native Deployment to be upgraded
</description>
          <defaultValue>ieatenmc15a036</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition plugin="extensible-choice-parameter@1.8.0">
          <name>mt_utils_version</name>
          <description>This is the version of the scripts available in Nexus&lt;br&gt;
The version used will be printed in the console output&lt;br&gt;
&lt;a href=&quot;https://arm1s11-eiffel004.eiffel.gic.ericsson.se:8443/nexus/content/repositories/releases/com/ericsson/mtg/utils/&quot;&gt;Nexus Link&lt;/a&gt; </description>
          <editable>true</editable>
          <editableType>NoFilter</editableType>
          <choiceListProvider class="jp.ikedam.jenkins.plugins.extensible_choice_parameter.TextareaChoiceListProvider">
            <choiceList>
              <string>RELEASE</string>
              <string>21.7.9</string>
              <string></string>
            </choiceList>
            <defaultChoice>RELEASE</defaultChoice>
          </choiceListProvider>
        </jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>tafVersion</name>
          <description>Version of the TAF to use&lt;br&gt;
AUTO will get the version mapped to Product Set&lt;br&gt;
If you do not want to use mapped version, select a specific version to use</description>
          <defaultValue>AUTO</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>centralCSVVersion</name>
          <description>Version of the Central CSV to use&lt;br&gt;
AUTO will get the version mapped to Product Set&lt;br&gt;
If you do not want to use mapped version, then can select a specific version to use</description>
          <defaultValue>AUTO</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>tafSchedulerVersion</name>
          <description>Version of the TAF Scheduler to use&lt;br&gt;
AUTO will get the version mapped to Product Set&lt;br&gt;
If you do not want to use mapped version, then can select a specific version to use</description>
          <defaultValue>AUTO</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>send_confidence_level</name>
          <description>This parameter is used to send the confidence level to portal/radiator/auto build log</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>NO</string>
              <string>YES</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>conf_level_for_this_job</name>
          <description>The confidence level event to be sent to the portal/radiator/build log</description>
          <defaultValue>RFA</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>dmt_id</name>
          <defaultValue>779</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>enm_iso_version</name>
          <defaultValue>1.109.16</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>_Testware_Items</name>
          <description>Insert your snippets in the format:&lt;br&gt;
&lt;br&gt;
&lt;pre&gt;
&amp;lt;item-group parallel=&amp;quot;false&amp;quot;&amp;gt;
    &amp;lt;item timeout-in-seconds=&amp;quot;480&amp;quot;&amp;gt;
        &amp;lt;name&amp;gt;External IdP Authorization Test Sync - Skyfall&amp;lt;/name&amp;gt;
        &amp;lt;component&amp;gt;com.ericsson.oss.itpf.security.sso:ERICTAFsinglesignon-testware_CXP9031665&amp;lt;/component&amp;gt;
        &amp;lt;suites&amp;gt;ExternalIdp_Authorization_TestSync.xml&amp;lt;/suites&amp;gt;
    &amp;lt;/item&amp;gt;
    &amp;lt;item timeout-in-seconds=&amp;quot;600&amp;quot;&amp;gt;
        &amp;lt;name&amp;gt;External IdP Authorization Periodic Sync - Skyfall&amp;lt;/name&amp;gt;
        &amp;lt;component&amp;gt;com.ericsson.oss.itpf.security.sso:ERICTAFsinglesignon-testware_CXP9031665&amp;lt;/component&amp;gt;
        &amp;lt;suites&amp;gt;ExternalIdp_Authorization_PeriodicSync.xml&amp;lt;/suites&amp;gt;
    &amp;lt;/item&amp;gt;
    &amp;lt;item timeout-in-seconds=&amp;quot;600&amp;quot;&amp;gt;
        &amp;lt;name&amp;gt;External IdP Authorization Forced Sync - Skyfall&amp;lt;/name&amp;gt;
        &amp;lt;component&amp;gt;com.ericsson.oss.itpf.security.sso:ERICTAFsinglesignon-testware_CXP9031665&amp;lt;/component&amp;gt;
        &amp;lt;suites&amp;gt;ExternalIdp_Authorization_ForcedSync.xml&amp;lt;/suites&amp;gt;
    &amp;lt;/item&amp;gt;
&amp;lt;/item-group&amp;gt;
&lt;/pre&gt;
</description>
          <trim>false</trim>
        </hudson.model.TextParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>_Email_Targets</name>
          <description>&lt;p&gt;A comma separated list of email addresses which will receive emails.&lt;/p&gt;</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.ericsson.duraci.messaging.UserDomainSuffixJobProperty plugin="eiffel-core@75.0.1">
      <enabled>false</enabled>
      <userDomainSuffix></userDomainSuffix>
    </com.ericsson.duraci.messaging.UserDomainSuffixJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Jenkins_cENM_Design_Teams_TAF1_Slave_1Node_18</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.exportparams.ExportParametersBuilder plugin="export-params@1.9">
      <filePath>parameters</filePath>
      <fileFormat>properties</fileFormat>
      <keyPattern>^[^_].*</keyPattern>
      <useRegexp>true</useRegexp>
    </org.jenkinsci.plugins.exportparams.ExportParametersBuilder>
    <hudson.tasks.Shell>
      <command>echo &quot;Retrieving Scripts from Nexus&quot;
tarFileName=&quot;utils_${mt_utils_version}.tar.gz&quot;
echo &quot;Downloading file - ${tarFileName} - to the workspace&quot;
curl -s --noproxy \* -L &quot;https://arm1s11-eiffel004.eiffel.gic.ericsson.se:8443/nexus/service/local/artifact/maven/redirect?r=releases&amp;g=com.ericsson.mtg&amp;a=utils&amp;p=tar.gz&amp;v=${mt_utils_version}&quot; -o ${tarFileName}
tar -zxf ${tarFileName}

echo &quot; ============================ run RFA 250 setup script from MT ================================&quot;

echo &quot; ==============================================================================================&quot;
sh MTELoopScripts/pipeline_scripts/rfa_250_setup.sh ${WORKSPACE}/parameters.properties


echo &quot; ============================ run trivial copy TAF properties ================================&quot;

echo &quot; ==============================================================================================&quot;
echo &quot; ==============================================================================================&quot;

cat &gt; taf.properties &lt;&lt; EOL
taf.profiles=RFA250
host.UiTestGrid.user.root.pass=shroot
taf_ui.default_OS=LINUX
host.UiTestGrid.port.ssh=22
# 1  Edit CENM URL
ENMUrl=${cluster_id}.athtem.eei.ericsson.se
# Edit the Cluster Name 
taf.config.dit.deployment.name=${cluster_id}

groups=RFA250,KGB,RFA
#  2 Edit CENM URL
host.haproxy_0.instance=${cluster_id}.athtem.eei.ericsson.se
host.haproxy_0.ip=${cluster_id}.athtem.eei.ericsson.se
host.haproxy_0.port.https=443
host.haproxy_0.port.http=80

host.httpd_su0.instance=${cluster_id}.athtem.eei.ericsson.se
host.httpd_su0.ip=${cluster_id}.athtem.eei.ericsson.se
host.httpd_su0.port.https=443
host.httpd_su0.port.http=80

#MT_CSV_FILE_URI=https://arm1s11-eiffel004.eiffel.gic.ericsson.se:8443/nexus/content/sites/tor/enm-maintrack-central-test-datasource/21.08.3/maintrack/csv/nodeToAdd_2K.csv
MT_CSV_FILE_URI=https://arm1s11-eiffel004.eiffel.gic.ericsson.se:8443/nexus/content/sites/tor/enm-maintrack-central-test-datasource/21.08.3/maintrack/csv/nodeToAdd_2K.csv


taf_ui.default_browser=FIREFOX
taf.scenario.debug.enabled=true
host.UiTestGrid.ip=141.137.235.136 
host.UiTestGrid.user.root.type=ADMIN
host.UiTestGrid.type=SELENIUM_GRID
host.UiTestGrid.port.http=4444
# 3 Edit DMT ID 
dmt_id=${dmt_id}
EOL

cat taf.properties

#echo &quot;MT_CSV_FILE_URI=https://arm1s11-eiffel004.eiffel.gic.ericsson.se:8443/nexus/content/sites/tor/enm-maintrack-central-test-datasource/21.08.1/maintrack/csv/nodeToAdd_2K.csv&quot; &gt;&gt; &quot;${WORKSPACE}/MTELoopScripts/libraries/rfa_250/taf.properties&quot;</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@2.4.0">
      <info>
        <propertiesFilePath>$WORKSPACE/build.properties</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
#This script is to find the accesible seleniumGrid IP of respective teams

version=$(curl --silent &apos;https://arm901-eiffel004.athtem.eei.ericsson.se:8443/nexus/content/repositories/nss-releases/com/ericsson/nss/Selenium3grid/uiTestGrid_healthcheck/maven-metadata.xml&apos; | sed -n &apos;s|&lt;release&gt;\(.*\)&lt;/release&gt;|\1|p&apos; | sed -e &apos;s/^[ \t]*//&apos; | tail -1)

echo &quot;Downloading latest version $version of UI grid health check script&quot;

curl --retry 5 -fsS &quot;https://arm901-eiffel004.athtem.eei.ericsson.se:8443/nexus/content/repositories/nss-releases/com/ericsson/nss/Selenium3grid/uiTestGrid_healthcheck/$version/uiTestGrid_healthcheck-$version.sh&quot; -o uiTestGrid_healthcheck.sh

curl --retry 5 -fsS &quot;https://arm901-eiffel004.athtem.eei.ericsson.se:8443/nexus/content/repositories/nss-releases/com/ericsson/nss/Selenium3grid/uiTestGrid_healthcheck/${version}/uiTestGrid_healthcheck-${version}.sh&quot; -o uiTestGrid_healthcheck.sh

WORKSPACE=$WORKSPACE
echo &quot;====================== SKIPPING GRID CHECKS ==================&quot;

#sh uiTestGrid_healthcheck.sh ${WORKSPACE}


echo &quot; ================================ hopefully run TAF ========================================&quot;

echo &quot; ==============================================================================================&quot;
echo &quot; ==============================================================================================&quot;
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@2.4.0">
      <info>
        <propertiesFilePath>$WORKSPACE/UiTestGridiP</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <EnvInjectBuilder plugin="envinject@2.4.0">
      <info>
        <propertiesFilePath>$WORKSPACE/build.properties</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <com.ericsson.oss.axis.BaselineDefinedMessageDispatcher plugin="taf-trigger@1.0.60">
      <ciArtifacts>
        <isoProduct>ENM</isoProduct>
        <isoDrop>${drop}</isoDrop>
        <isoVersion>${enm_iso_version}</isoVersion>
        <jobType>Entry Loop</jobType>
        <artifactsClassName>com.ericsson.oss.axis.BaselineDefinedMessageDispatcher$ArtifactAsISO$1</artifactsClassName>
      </ciArtifacts>
      <schedule>
        <xml>&lt;?xml version=&quot;1.0&quot;?&gt;
&lt;schedule
    xmlns=&quot;http://taf.lmera.ericsson.se/schema/te&quot;
    xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;
xsi:schemaLocation=&quot;http://taf.lmera.ericsson.se/schema/te http://taf.lmera.ericsson.se/schema/te/schedule/xml&quot;&gt;
${_Testware_Items}
&lt;/schedule&gt;</xml>
        <testPropertiesAsString></testPropertiesAsString>
        <scheduleClassName>com.ericsson.oss.axis.BaselineDefinedMessageDispatcher$ScheduleAsXml$1</scheduleClassName>
      </schedule>
      <testwarePropertiesFile>${WORKSPACE}/MTELoopScripts/libraries/rfa_250/taf.properties</testwarePropertiesFile>
      <tunnellingOn>true</tunnellingOn>
      <breakBuildOnTestsFailure>true</breakBuildOnTestsFailure>
      <sutClusterId>000</sutClusterId>
      <citeHostPropertiesFile></citeHostPropertiesFile>
      <globalTestGroups></globalTestGroups>
      <tafVersion>2.59.1</tafVersion>
      <userDefinedGAVs></userDefinedGAVs>
      <additionalTestProperties>
        <property name="host.UiTestGrid.user.root.pass" value="shroot"/>
        <property name="taf_ui.default_OS" value="LINUX"/>
        <property name="host.UiTestGrid.port.ssh" value="22"/>
        <property name="host.gateway.ip" value="${host.gateway.ip}"/>
        <property name="node.sync.repeat" value="120"/>
        <property name="node.comecim.sync.retries" value="200"/>
        <property name="smoke.vusers" value="3"/>
        <property name="TORFIRSTPARAMETERS" value="${install_params}"/>
        <property name="host.UiTestGrid.ip" value="141.137.173.252"/>
        <property name="dmt_id" value="${dmt_id}"/>
        <property name="taf.config.dit.deployment.name" value="${cluster_id}"/>
        <property name="taf.config.dit.deployment.internal.nodes" value="fmalarmprocessing_1,fmalarmprocessing_2,fmalarmprocessing_3,fmalarmprocessing_4,fmx_1,fmx_2,jms_1,opendj_1,opendj_2"/>
        <property name="host.UiTestGrid.user.root.type" value="ADMIN"/>
        <property name="host.UiTestGrid.type" value="SELENIUM_GRID"/>
        <property name="host.UiTestGrid.port.http" value="4444"/>
      </additionalTestProperties>
      <arm>
        <id></id>
        <description></description>
        <httpString>https://arm1s11-eiffel004.eiffel.gic.ericsson.se:8443/nexus/content/groups/public</httpString>
        <credentials>
          <username></username>
          <password></password>
        </credentials>
      </arm>
      <ciFwkHost>https://ci-portal.seli.wh.rnd.internal.ericsson.com/</ciFwkHost>
      <tafTestExecutorHostname></tafTestExecutorHostname>
      <tafTestExecutorPort>8080</tafTestExecutorPort>
    </com.ericsson.oss.axis.BaselineDefinedMessageDispatcher>
  </builders>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.87">
      <recipientList>${_Email_Targets}</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
      </configuredTriggers>
      <contentType>text/html</contentType>
      <defaultSubject>Vulcanians_CN_RFA_ENM10 RUN #${BUILD_NUMBER}: $BUILD_STATUS</defaultSubject>
      <defaultContent>&lt;html&gt;
&lt;body&gt;
RUN BY:&lt;br&gt;
${BUILD_USER}&lt;br&gt;
&lt;br&gt;
ALLURE_LINK:&lt;br&gt;
${TE_ALLURE_LOG_URL}&lt;br&gt;
&lt;br&gt;
BUILD URL:&lt;br&gt;
${BUILD_URL}&lt;br&gt;
&lt;/body&gt;
&lt;/html&gt;</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>true</attachBuildLog>
      <compressBuildLog>true</compressBuildLog>
      <replyTo></replyTo>
      <from>noreply@jenkins.billy.com</from>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.40">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@2.2.0">
      <template>${ENV,var=&quot;cluster_id&quot;}, ${BUILD_USER}, #${BUILD_NUMBER}</template>
      <descriptionTemplate></descriptionTemplate>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
    <org.jenkinsci.plugins.builduser.BuildUser plugin="build-user-vars-plugin@1.8"/>
  </buildWrappers>
</project>