<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.8">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.ericsson.duraci.messaging.ImplicitMessagingContributorProperty plugin="eiffel-core@75.0.1">
      <scriptEnabled>false</scriptEnabled>
    </com.ericsson.duraci.messaging.ImplicitMessagingContributorProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@2.2.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <com.ericsson.duraci.messaging.SequentialSemanticEiffelMessageLinkingJobProperty plugin="eiffel-core@75.0.1">
      <sequentialLinkingEnabled>false</sequentialLinkingEnabled>
    </com.ericsson.duraci.messaging.SequentialSemanticEiffelMessageLinkingJobProperty>
    <com.ericsson.duraci.messaging.ImplicitEiffelConfigurationNotificationMessagingJobProperty plugin="eiffel-core@75.0.1">
      <messagingEnabled>false</messagingEnabled>
    </com.ericsson.duraci.messaging.ImplicitEiffelConfigurationNotificationMessagingJobProperty>
    <com.ericsson.duraci.messaging.ImplicitEiffelMessagingJobProperty plugin="eiffel-core@75.0.1">
      <messagingEnabled>false</messagingEnabled>
      <jobFinishedDisabled>false</jobFinishedDisabled>
    </com.ericsson.duraci.messaging.ImplicitEiffelMessagingJobProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.33">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>test_phase</name>
          <description>The test phase being run</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>MTE</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>drop</name>
          <description>Drop for upgrade&lt;br&gt;
Example: 18.02</description>
          <defaultValue>21.06</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>product_set_version</name>
          <description>The Product Set version of vENM to upgrade to&lt;br&gt;
Example: 18.02.19</description>
          <defaultValue>21.06.49</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>cluster_id</name>
          <description>Deployment name of vENM Cloud Deployment to be upgraded</description>
          <defaultValue>ieatenmc15a021</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>taf_version</name>
          <description>Version of the TAF to use&lt;br&gt;
AUTO will get the version mapped to Product Set&lt;br&gt;
If you do not want to use mapped version, select a specific version to use</description>
          <defaultValue>AUTO</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>central_csv_version</name>
          <description>Version of the Central CSV to use&lt;br&gt;
AUTO will get the version mapped to Product Set&lt;br&gt;
If you do not want to use mapped version, then can select a specific version to use</description>
          <defaultValue>AUTO</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>taf_scheduler_version</name>
          <description>Version of the TAF Scheduler to use&lt;br&gt;
AUTO will get the version mapped to Product Set&lt;br&gt;
If you do not want to use mapped version, then can select a specific version to use</description>
          <defaultValue>AUTO</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>send_confidence_level</name>
          <description></description>
          <defaultValue>NO</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>mt_utils_version</name>
          <description></description>
          <defaultValue>RELEASE</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>cenm_product_set_version</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.ericsson.duraci.messaging.UserDomainSuffixJobProperty plugin="eiffel-core@75.0.1">
      <enabled>false</enabled>
      <userDomainSuffix></userDomainSuffix>
    </com.ericsson.duraci.messaging.UserDomainSuffixJobProperty>
    <EnvInjectJobProperty plugin="envinject@2.4.0">
      <info>
        <secureGroovyScript plugin="script-security@1138.v8e727069a_025">
          <script></script>
          <sandbox>true</sandbox>
        </secureGroovyScript>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>true</overrideBuildParameters>
    </EnvInjectJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Jenkins_cENM_Design_Teams_TAF1_Slave_4Node_8</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.exportparams.ExportParametersBuilder plugin="export-params@1.9">
      <filePath>parameters</filePath>
      <fileFormat>properties</fileFormat>
      <keyPattern></keyPattern>
      <useRegexp>false</useRegexp>
    </org.jenkinsci.plugins.exportparams.ExportParametersBuilder>
    <hudson.tasks.Shell>
      <command>#!/bin/sh

echo &quot;Retrieving Scripts from Nexus&quot;
tarFileName=&quot;utils_${mt_utils_version}.tar.gz&quot;
echo &quot;Downloading file - ${tarFileName} - to the workspace&quot;
curl -s --noproxy \* -L &quot;https://arm1s11-eiffel004.eiffel.gic.ericsson.se:8443/nexus/service/local/artifact/maven/redirect?r=releases&amp;g=com.ericsson.mtg&amp;a=utils&amp;p=tar.gz&amp;v=${mt_utils_version}&quot; -o ${tarFileName}
tar -zxf ${tarFileName}

echo &quot;tafVersion=${taf_version}&quot; &gt;&gt; &quot;${WORKSPACE}/parameters.properties&quot;
echo &quot;centralCSVVersion=${central_csv_version}&quot; &gt;&gt; &quot;${WORKSPACE}/parameters.properties&quot;
echo &quot;tafSchedulerVersion=${taf_scheduler_version}&quot; &gt;&gt; &quot;${WORKSPACE}/parameters.properties&quot;
echo &quot;conf_level_for_this_job=RFA&quot; &gt;&gt; &quot;${WORKSPACE}/parameters.properties&quot;

sh MTELoopScripts/pipeline_scripts/rfa_250_setup.sh &quot;${WORKSPACE}/parameters.properties&quot; || exit 1</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@2.4.0">
      <info>
        <propertiesFilePath>$WORKSPACE/build.properties</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <hudson.tasks.Shell>
      <command>#!/bin/sh

echo &quot;TE_ALLURE_LOG_URL=${TE_ALLURE_LOG_URL}&quot; &gt;&gt; &quot;${WORKSPACE}/build.properties&quot;</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@2.4.0">
      <info>
        <propertiesFilePath>$WORKSPACE/UiTestGridiP</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <EnvInjectBuilder plugin="envinject@2.4.0">
      <info>
        <propertiesFilePath>$WORKSPACE/build.properties</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <com.ericsson.oss.axis.BaselineDefinedMessageDispatcher plugin="taf-trigger@1.0.60">
      <ciArtifacts>
        <isoProduct>ENM</isoProduct>
        <isoDrop>${drop}</isoDrop>
        <isoVersion>${enm_iso_version}</isoVersion>
        <jobType>Entry Loop</jobType>
        <artifactsClassName>com.ericsson.oss.axis.BaselineDefinedMessageDispatcher$ArtifactAsISO$1</artifactsClassName>
      </ciArtifacts>
      <schedule>
        <name>cenm/cenm_RFA250_svc_scp.xml</name>
        <groupId>com.ericsson.cifwk</groupId>
        <artifactId>enm-schedule-kvm</artifactId>
        <version>${taf_scheduler_version}</version>
        <testPropertiesAsString></testPropertiesAsString>
        <scheduleClassName>com.ericsson.oss.axis.BaselineDefinedMessageDispatcher$ScheduleAsGav$1</scheduleClassName>
      </schedule>
      <testwarePropertiesFile>${WORKSPACE}/MTELoopScripts/libraries/rfa_250/taf.properties</testwarePropertiesFile>
      <tunnellingOn>true</tunnellingOn>
      <breakBuildOnTestsFailure>false</breakBuildOnTestsFailure>
      <sutClusterId>000</sutClusterId>
      <citeHostPropertiesFile></citeHostPropertiesFile>
      <globalTestGroups></globalTestGroups>
      <tafVersion>${tafVersion}</tafVersion>
      <userDefinedGAVs>${etl_bom_version_for_gav}</userDefinedGAVs>
      <additionalTestProperties>
        <property name="host.UiTestGrid.ip" value="${UiTestGridIP}"/>
        <property name="deployment.type" value="cloud"/>
      </additionalTestProperties>
      <arm>
        <id></id>
        <description></description>
        <httpString>https://arm1s11-eiffel004.eiffel.gic.ericsson.se:8443/nexus/content/groups/public</httpString>
        <credentials>
          <username></username>
          <password></password>
        </credentials>
      </arm>
      <ciFwkHost>https://ci-portal.seli.wh.rnd.internal.ericsson.com/</ciFwkHost>
      <tafTestExecutorHostname></tafTestExecutorHostname>
      <tafTestExecutorPort>8080</tafTestExecutorPort>
    </com.ericsson.oss.axis.BaselineDefinedMessageDispatcher>
    <hudson.tasks.Shell>
      <command>#!/bin/sh

echo &quot;TE_ALLURE_LOG_URL=${TE_ALLURE_LOG_URL}&quot; &gt;&gt; &quot;${WORKSPACE}/build.properties&quot;</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@2.4.0">
      <info>
        <propertiesFilePath>${WORKSPACE}/build.properties</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@408.vd726a_1130320">
      <recipients></recipients>
      <dontNotifyEveryUnstableBuild>true</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.40">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <EnvInjectBuildWrapper plugin="envinject@2.4.0">
      <info>
        <secureGroovyScript plugin="script-security@1138.v8e727069a_025">
          <script></script>
          <sandbox>true</sandbox>
        </secureGroovyScript>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@2.2.0">
      <template>Cluster ID = ${ENV,var=&quot;cluster_id&quot;}</template>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>