<?xml version='1.1' encoding='UTF-8'?>
<org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject plugin="workflow-multibranch@2.20">
  <actions/>
  <description>&lt;p&gt;This is a script that was created while implementing a &quot;No root squash&quot;.
It was created to allow the user to see permissions differences between running 
  containers.&lt;br/&gt;Gerrit link: &lt;a href=&quot;https://gerrit.ericsson.se/#/admin/projects/OSS/com.ericsson.oss.containerisation/eric-enm-container-diff-utils&quot;&gt;https://gerrit.ericsson.se/#/admin/projects/OSS/com.ericsson.oss.containerisation/eric-enm-container-diff-utils&lt;/a&gt;


&lt;h2&gt;Running the Jenkins pipeline&lt;/h2&gt;
&lt;p&gt;The script is configured to run as a parameterised blue ocean jenkins job with the following parameters.&lt;/p&gt;
&lt;ul&gt;
  &lt;li&gt;config_ini	Configuration file converted to base64.&lt;/li&gt;
 &lt;li&gt;config_filename	The config.ini filename.&lt;/li&gt;
 &lt;li&gt;kubeconfig Kubeconfig file converted to base64.&lt;/li&gt;
 &lt;li&gt;kubeconfig_filename The kubeconfig filename.&lt;/li&gt;
 &lt;li&gt;directornode Director node ssh keyfile converted to base64.&lt;/li&gt;
 &lt;li&gt;directornode_filename Director node ssh keyfile converted to base64.&lt;/li&gt;
&lt;/ul&gt;






&lt;h2&gt;Example Directory Structure&lt;/h2&gt;
&lt;ul&gt;
  &lt;li&gt;binaries - The binaries required by the container e.g. kubectl &lt;/li&gt;
  &lt;li&gt;certificates - Any ssh certificates used to connect to servers &lt;/li&gt;
  &lt;li&gt;config - Configuration files used to run the script&lt;/li&gt;
  &lt;li&gt;inputdata - Stores permissions data as a file to compare against later&lt;/li&gt;
  &lt;li&gt;kubeconfig - The kubernetes config file from the server usage tracker&lt;/li&gt;
  &lt;li&gt;logs - Any logs generated by the script will be located here&lt;/li&gt;
  &lt;li&gt;reports - Any reports generated by the containerdiff script will be located here&lt;/li&gt;
  &lt;li&gt;src - Stores the actual code for the scripts&lt;/li&gt;
  &lt;li&gt;tests - Stores any tests for the scripts&lt;/li&gt;
&lt;/ul&gt;


&lt;h2&gt;Example Configuration file&lt;/h2&gt;
&lt;p&gt;Prior to running the container-diff script you will need to generate a
  configuration file (config.ini) which should be put in the config directory. 
  The configuration file supports variables such as &lt;code&gt;(${Global:scriptroot})&lt;/code&gt;&lt;/p&gt;

&lt;p&gt;It also supports arrays: &lt;/p&gt;
&lt;div style=&quot;background: #f8f8f8; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;&quot;&gt;&lt;pre style=&quot;margin: 0; line-height: 125%&quot;&gt;&lt;span style=&quot;color: #7D9029&quot;&gt;connection_commands&lt;/span&gt; &lt;span style=&quot;color: #666666&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #BA2121&quot;&gt;[&amp;quot;ssh ms-1&amp;quot;, &amp;quot;ssh -i /root/.ssh/vm_private_key cloud-user@svc-2-fmserv&amp;quot;, &amp;quot;sudo -i&amp;quot;]&lt;/span&gt;
&lt;/pre&gt;&lt;/div&gt;

&lt;p&gt;All config files in the config directory will be run so remove
  any that you don&apos;t want to run.&lt;/p&gt;

&lt;!-- HTML generated using hilite.me --&gt;&lt;div style=&quot;background: #f8f8f8; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;&quot;&gt;&lt;pre style=&quot;margin: 0; line-height: 125%&quot;&gt;&lt;span style=&quot;color: #204a87; font-weight: bold&quot;&gt;[Global]&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;scriptroot&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;/ericsson/3pp/jboss/bin&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;inputdatafilename&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;default&lt;/span&gt;

&lt;span style=&quot;color: #204a87; font-weight: bold&quot;&gt;[init]&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;ssh&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;False&lt;/span&gt;

&lt;span style=&quot;color: #204a87; font-weight: bold&quot;&gt;[init_ssh]&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;use_keyfile&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;False&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;username&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;root&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;hostname&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;atvts2830.athtem.eei.ericsson.se&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;connection_commands&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;[&amp;quot;ssh ms-1&amp;quot;, &amp;quot;ssh -i /root/.ssh/vm_private_key cloud-user@svc-2-fmserv&amp;quot;, &amp;quot;sudo -i&amp;quot;]&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;password&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;shroot&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;keyfile&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;C7a004.pem&lt;/span&gt;

&lt;span style=&quot;color: #204a87; font-weight: bold&quot;&gt;[init_kubectl]&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;kubeconfig&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;ccd-c10a013.admin.conf&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;container&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;cmserv&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;pod&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;cmserv&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;namespace&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;enm21&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;delay&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;600&lt;/span&gt;

&lt;span style=&quot;color: #204a87; font-weight: bold&quot;&gt;[compare]&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;ssh&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;False&lt;/span&gt;

&lt;span style=&quot;color: #204a87; font-weight: bold&quot;&gt;[compare_ssh]&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;use_keyfile&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;False&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;username&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;root&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;hostname&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;atvts2830.athtem.eei.ericsson.se&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;connection_commands&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;[&amp;quot;ssh ms-1&amp;quot;, &amp;quot;ssh -i /root/.ssh/vm_private_key cloud-user@svc-2-fmserv&amp;quot;, &amp;quot;sudo -i&amp;quot;]&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;password&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;shroot&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;keyfile&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;C7a004.pem&lt;/span&gt;

&lt;span style=&quot;color: #204a87; font-weight: bold&quot;&gt;[compare_kubectl]&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;kubeconfig&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;ccd-c10a013.admin.conf&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;container&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;fmserv&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;deployment&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;fmserv&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;pod&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;fmserv&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;namespace&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;enm21&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;image_name&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;armdocker.rnd.ericsson.se/proj_oss_releases/eric-enmsg-fm-service:inapp_test&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;delay&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;600&lt;/span&gt;

&lt;span style=&quot;color: #204a87; font-weight: bold&quot;&gt;[report]&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;ssh&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;True&lt;/span&gt;

&lt;span style=&quot;color: #204a87; font-weight: bold&quot;&gt;[report_ssh]&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;use_keyfile&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;True&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;localfile&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;reports&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;username&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;eccd&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;hostname&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;131.160.161.48&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;remotefile&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;/home/eccd/reports&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;connection_commands&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;[&amp;quot;ssh ms-1&amp;quot;, &amp;quot;ssh -i /root/.ssh/vm_private_key cloud-user@svc-2-fmserv&amp;quot;, &amp;quot;sudo -i&amp;quot;]&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;password&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;shroot&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;keyfile&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;C7a004.pem&lt;/span&gt;

&lt;span style=&quot;color: #204a87; font-weight: bold&quot;&gt;[Rpms]&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;test&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;xz-5.2.3-4.3.1.x86_64&lt;/span&gt;

&lt;span style=&quot;color: #204a87; font-weight: bold&quot;&gt;[Recurse]&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;root&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;${Global:scriptroot}&lt;/span&gt;

&lt;span style=&quot;color: #204a87; font-weight: bold&quot;&gt;[SpecificFile]&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;module&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;opt/ericsson/jboss/modules-sfwk/com/ericsson/oss/itpf/sdk/jboss-logging/3.3.0/module.xml&lt;/span&gt;

&lt;span style=&quot;color: #204a87; font-weight: bold&quot;&gt;[ReportFormatting]&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;header_bold&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;1&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;header_align&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;left&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;header_valign&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;vcenter&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;header_text_color&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;white&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;header_foreground_color&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;purple&lt;/span&gt;
&lt;span style=&quot;color: #c4a000&quot;&gt;header_border_width&lt;/span&gt; &lt;span style=&quot;color: #ce5c00; font-weight: bold&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;color: #4e9a06&quot;&gt;1&lt;/span&gt;
&lt;/pre&gt;&lt;/div&gt;


&lt;h2&gt;Running the scripts&lt;/h2&gt;
&lt;p&gt;Under the src folder there are several files:&lt;/p&gt;

&lt;h2&gt;config_writer.py&lt;/h2&gt;
&lt;p&gt;The configuration writer script is used to generate the &quot;config.ini&quot; file&lt;/p&gt;
&lt;div style=&quot;background: #f8f8f8; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;&quot;&gt;&lt;pre style=&quot;margin: 0; line-height: 125%&quot;&gt;python3 config_writer.py
&lt;/pre&gt;&lt;/div&gt;



&lt;h3&gt;Example help&lt;/h3&gt;
&lt;div style=&quot;background: #f8f8f8; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;&quot;&gt;&lt;pre style=&quot;margin: 0; line-height: 125%&quot;&gt;  usage: config_writer.py [-h] [--namespace NAMESPACE] [--pod POD]
                            [--container CONTAINER]
                            [--compare_namespace COMPARE_NAMESPACE]
                            [--compare_pod COMPARE_POD]
                            [--compare_container COMPARE_CONTAINER]
                            [--update UPDATE] [--ssh SSH]
                            [--ssh_hostname SSH_HOSTNAME]
                            [--ssh_username SSH_USERNAME]
                            [--ssh_password SSH_PASSWORD]
                            [--recurse RECURSE [RECURSE ...]]
                            [--specific SPECIFIC [SPECIFIC ...]]
                            [--rpms RPMS [RPMS ...]]
                            [--filename FILENAME [FILENAME ...]]
    
    Compare the state of two linux pods
    
    optional arguments:
      -h, --help            show this help message and exit
      --namespace NAMESPACE
                            Namespace to use
      --pod POD             Pod to use
      --container CONTAINER
                            Container to use
      --compare_namespace COMPARE_NAMESPACE
                            Namespace to compare against
      --compare_pod COMPARE_POD
                            Pod to compare against
      --compare_container COMPARE_CONTAINER
                            Container to compare against
      --update UPDATE       Update an existing config file
      --ssh SSH             Set whether to use ssh
      --ssh_hostname SSH_HOSTNAME
                            Set whether to use ssh
      --ssh_username SSH_USERNAME
                            Set whether to use ssh
      --ssh_password SSH_PASSWORD
                            Set whether to use ssh
      --recurse RECURSE [RECURSE ...]
                            Set the folders to run ls -R
      --specific SPECIFIC [SPECIFIC ...]
                            Set the specific file or folder to run ls
      --rpms RPMS [RPMS ...]
                            Set the rpms to run rpm -ql
      --filename FILENAME [FILENAME ...]
                            Set the config filename
&lt;/pre&gt;&lt;/div&gt;

&lt;h3&gt;save_permissions.py&lt;/h3&gt;
&lt;p&gt;The save permissions script takes as input the generated configuration file
  and generates the input files.&lt;/p&gt;
&lt;div style=&quot;background: #f8f8f8; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;&quot;&gt;&lt;pre style=&quot;margin: 0; line-height: 125%&quot;&gt;python3 save_permissions.py
&lt;/pre&gt;&lt;/div&gt;

&lt;h3&gt;compare_permissions.py&lt;/h3&gt;
&lt;p&gt;The compare permissions script takes as input the generated configuration
  file and input files. It generates the reports directory.&lt;/p&gt;
&lt;div style=&quot;background: #f8f8f8; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;&quot;&gt;&lt;pre style=&quot;margin: 0; line-height: 125%&quot;&gt;python3 compare_permissions.py
&lt;/pre&gt;&lt;/div&gt;


&lt;h2&gt;Parameterizing the jenkins pipeline&lt;/h2&gt;
&lt;p&gt;The Blue Ocean visual editor will not generate pipeline parameters for you. Parameters must be set in the jenkinsfile.
  Jenkins documentation about it is hard to find so we will leave it here:    
&lt;/p&gt;
&lt;h3&gt;string&lt;/h3&gt;
A one-line string.
&lt;ul&gt;  
  &lt;li&gt;name: &apos;some_string&apos;&lt;/li&gt;
  &lt;li&gt;defaultValue: &apos;&apos;&lt;/li&gt;
  &lt;li&gt;description: &apos;&apos;&lt;/li&gt;
&lt;/ul&gt;
&lt;h3&gt;text&lt;/h3&gt;
A multi-line string.
&lt;ul&gt;
  &lt;li&gt;name: &apos;some_multiline_string&apos;&lt;/li&gt;
  &lt;li&gt;defaultValue: &apos;&apos;&lt;/li&gt;
  &lt;li&gt;description: &apos;&apos;&lt;/li&gt;
&lt;/ul&gt;
&lt;h3&gt;booleanParam&lt;/h3&gt;
A boolean parameter
&lt;ul&gt;
  &lt;li&gt;name: &apos;Some boolean value&apos;&lt;/li&gt;
  &lt;li&gt;defaultValue: &apos;&apos;&lt;/li&gt;
  &lt;li&gt;description: &apos;&apos;&lt;/li&gt;
&lt;/ul&gt;
&lt;h3&gt;choice&lt;/h3&gt;
A list of choices.
&lt;ul&gt;
  &lt;li&gt;name: &apos;choices&apos;&lt;/li&gt;
  &lt;li&gt;choices: [&apos;one&apos;, &apos;two&apos;, &apos;three&apos;]&lt;/li&gt;
  &lt;li&gt;description: &apos;A list of choices&apos;&lt;/li&gt;
&lt;/ul&gt;
&lt;h3&gt;password&lt;/h3&gt;
A password
&lt;ul&gt;  
  &lt;li&gt;name: &apos;password&apos;&lt;/li&gt;
  &lt;li&gt;defaultValue: &apos;SECRET&apos;&lt;/li&gt;
  &lt;li&gt;description: &apos;A password&apos;&lt;/li&gt;
&lt;/ul&gt;
&lt;h3&gt;credentials&lt;/h3&gt;
A jenkins credential. 
&lt;ul&gt;  
  &lt;li&gt;name: &apos;Credential&apos;&lt;/li&gt;
  &lt;li&gt;credentialType: &apos;com.cloudbees.plugins.credentials.impl.CertificateCredentialsImpl&apos;&lt;/li&gt;
  &lt;li&gt;defaultValue: &apos;&apos;&lt;/li&gt;
  &lt;li&gt;description: &apos;&apos;&lt;/li&gt;
  &lt;li&gt;required: false&lt;/li&gt;
&lt;/ul&gt;
&lt;h3&gt;file&lt;/h3&gt;
Allows the user to choose a file
&lt;ul&gt;  
  &lt;li&gt;name: &apos;The parameter name&apos;&lt;/li&gt;
  &lt;li&gt;description: &apos;&apos;&lt;/li&gt;
&lt;/ul&gt;
&lt;h3&gt;run&lt;/h3&gt;
Allows the user to specify another project.
&lt;ul&gt;  
  &lt;li&gt;name: &apos;The parameter name&apos;&lt;/li&gt;
  &lt;li&gt;description: &apos;&apos;&lt;/li&gt;
  &lt;li&gt;filter: &apos;ALL&apos;&lt;/li&gt;
&lt;/ul&gt;

&lt;h3&gt;Example parameterized jenkinsfile&lt;/h3&gt;
The following is an example parameterized jenkinsfile. Note that parameters are specified at the bottom of the file. 
We can also see that when running the sh script that every line after the first is not indented. 

&lt;div style=&quot;background: #f8f8f8; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;&quot;&gt;&lt;pre style=&quot;margin: 0; line-height: 125%&quot;&gt;pipeline &lt;span style=&quot;color: #666666&quot;&gt;{&lt;/span&gt;
  agent any
  stages &lt;span style=&quot;color: #666666&quot;&gt;{&lt;/span&gt;
    stage&lt;span style=&quot;color: #666666&quot;&gt;(&lt;/span&gt;&lt;span style=&quot;color: #BA2121&quot;&gt;&amp;#39;eric-enm-container-diff-job&amp;#39;&lt;/span&gt;&lt;span style=&quot;color: #666666&quot;&gt;)&lt;/span&gt; &lt;span style=&quot;color: #666666&quot;&gt;{&lt;/span&gt;
      agent &lt;span style=&quot;color: #666666&quot;&gt;{&lt;/span&gt;
        dockerfile &lt;span style=&quot;color: #666666&quot;&gt;{&lt;/span&gt;
          filename &lt;span style=&quot;color: #BA2121&quot;&gt;&amp;#39;Dockerfile&amp;#39;&lt;/span&gt;
        &lt;span style=&quot;color: #666666&quot;&gt;}&lt;/span&gt;

      &lt;span style=&quot;color: #666666&quot;&gt;}&lt;/span&gt;
      steps &lt;span style=&quot;color: #666666&quot;&gt;{&lt;/span&gt;
        sh &lt;span style=&quot;color: #BA2121&quot;&gt;&amp;#39;&amp;#39;&amp;#39;mkdir imagecontent/certificates&lt;/span&gt;
&lt;span style=&quot;color: #BA2121&quot;&gt;mkdir imagecontent/kubeconfig&lt;/span&gt;
&lt;span style=&quot;color: #BA2121&quot;&gt;mkdir imagecontent/config&amp;#39;&amp;#39;&amp;#39;&lt;/span&gt;
        sh &lt;span style=&quot;color: #BA2121&quot;&gt;&amp;quot;echo ${params.directornode} | base64 --decode &amp;gt;&amp;gt; imagecontent/certificates/${params.directornode_filename}&amp;quot;&lt;/span&gt;
        sh &lt;span style=&quot;color: #BA2121&quot;&gt;&amp;quot;echo ${params.kubeconfig} | base64 --decode &amp;gt;&amp;gt; imagecontent/kubeconfig/${params.kubeconfig_filename}&amp;quot;&lt;/span&gt;
        sh &lt;span style=&quot;color: #BA2121&quot;&gt;&amp;quot;echo ${params.config_ini} | base64 --decode &amp;gt;&amp;gt; imagecontent/config/${params.config_filename}&amp;quot;&lt;/span&gt;
        sh &lt;span style=&quot;color: #BA2121&quot;&gt;&amp;#39;&amp;#39;&amp;#39;ls imagecontent&lt;/span&gt;
&lt;span style=&quot;color: #BA2121&quot;&gt;mkdir imagecontent/binaries&lt;/span&gt;
&lt;span style=&quot;color: #BA2121&quot;&gt;cd imagecontent/binaries&lt;/span&gt;
&lt;span style=&quot;color: #BA2121&quot;&gt;curl -LO https://dl.k8s.io/release/v1.20.0/bin/linux/amd64/kubectl&lt;/span&gt;
&lt;span style=&quot;color: #BA2121&quot;&gt;chmod +x kubectl&lt;/span&gt;
&lt;span style=&quot;color: #BA2121&quot;&gt;cd ../../&amp;#39;&amp;#39;&amp;#39;&lt;/span&gt;
        timeout&lt;span style=&quot;color: #666666&quot;&gt;(&lt;/span&gt;&lt;span style=&quot;color: #A0A000&quot;&gt;time:&lt;/span&gt; &lt;span style=&quot;color: #666666&quot;&gt;30,&lt;/span&gt; &lt;span style=&quot;color: #A0A000&quot;&gt;unit:&lt;/span&gt; &lt;span style=&quot;color: #BA2121&quot;&gt;&amp;#39;MINUTES&amp;#39;&lt;/span&gt;&lt;span style=&quot;color: #666666&quot;&gt;)&lt;/span&gt; &lt;span style=&quot;color: #666666&quot;&gt;{&lt;/span&gt;
          sh &lt;span style=&quot;color: #BA2121&quot;&gt;&amp;#39;python3 imagecontent/src/save_permissions.py&amp;#39;&lt;/span&gt;
          sh &lt;span style=&quot;color: #BA2121&quot;&gt;&amp;#39;ls imagecontent/inputdata&amp;#39;&lt;/span&gt;
          sh &lt;span style=&quot;color: #BA2121&quot;&gt;&amp;#39;python3 imagecontent/src/compare_permissions.py&amp;#39;&lt;/span&gt;
        &lt;span style=&quot;color: #666666&quot;&gt;}&lt;/span&gt;

      &lt;span style=&quot;color: #666666&quot;&gt;}&lt;/span&gt;
    &lt;span style=&quot;color: #666666&quot;&gt;}&lt;/span&gt;
  &lt;span style=&quot;color: #666666&quot;&gt;}&lt;/span&gt;
  parameters &lt;span style=&quot;color: #666666&quot;&gt;{&lt;/span&gt;
    text&lt;span style=&quot;color: #666666&quot;&gt;(&lt;/span&gt;&lt;span style=&quot;color: #A0A000&quot;&gt;name:&lt;/span&gt; &lt;span style=&quot;color: #BA2121&quot;&gt;&amp;#39;Configurationfiles&amp;#39;&lt;/span&gt;&lt;span style=&quot;color: #666666&quot;&gt;,&lt;/span&gt; &lt;span style=&quot;color: #A0A000&quot;&gt;defaultValue:&lt;/span&gt; &lt;span style=&quot;color: #BA2121&quot;&gt;&amp;#39;&amp;#39;&lt;/span&gt;&lt;span style=&quot;color: #666666&quot;&gt;,&lt;/span&gt; &lt;span style=&quot;color: #A0A000&quot;&gt;description:&lt;/span&gt; &lt;span style=&quot;color: #BA2121&quot;&gt;&amp;#39;&amp;#39;&lt;/span&gt; &lt;span style=&quot;color: #666666&quot;&gt;)&lt;/span&gt;
    text&lt;span style=&quot;color: #666666&quot;&gt;(&lt;/span&gt;&lt;span style=&quot;color: #A0A000&quot;&gt;name:&lt;/span&gt; &lt;span style=&quot;color: #BA2121&quot;&gt;&amp;#39;Kubeconfigfiles&amp;#39;&lt;/span&gt;&lt;span style=&quot;color: #666666&quot;&gt;,&lt;/span&gt; &lt;span style=&quot;color: #A0A000&quot;&gt;defaultValue:&lt;/span&gt; &lt;span style=&quot;color: #BA2121&quot;&gt;&amp;#39;&amp;#39;&lt;/span&gt;&lt;span style=&quot;color: #666666&quot;&gt;,&lt;/span&gt; &lt;span style=&quot;color: #A0A000&quot;&gt;description:&lt;/span&gt; &lt;span style=&quot;color: #BA2121&quot;&gt;&amp;#39;&amp;#39;&lt;/span&gt; &lt;span style=&quot;color: #666666&quot;&gt;)&lt;/span&gt;
    text&lt;span style=&quot;color: #666666&quot;&gt;(&lt;/span&gt;&lt;span style=&quot;color: #A0A000&quot;&gt;name:&lt;/span&gt; &lt;span style=&quot;color: #BA2121&quot;&gt;&amp;#39;Directornodefiles&amp;#39;&lt;/span&gt;&lt;span style=&quot;color: #666666&quot;&gt;,&lt;/span&gt; &lt;span style=&quot;color: #A0A000&quot;&gt;defaultValue:&lt;/span&gt; &lt;span style=&quot;color: #BA2121&quot;&gt;&amp;#39;&amp;#39;&lt;/span&gt;&lt;span style=&quot;color: #666666&quot;&gt;,&lt;/span&gt; &lt;span style=&quot;color: #A0A000&quot;&gt;description:&lt;/span&gt; &lt;span style=&quot;color: #BA2121&quot;&gt;&amp;#39;Director node ssh keyfile converted to base64&amp;#39;&lt;/span&gt;&lt;span style=&quot;color: #666666&quot;&gt;)&lt;/span&gt;
  &lt;span style=&quot;color: #666666&quot;&gt;}&lt;/span&gt;
&lt;span style=&quot;color: #666666&quot;&gt;}&lt;/span&gt;
&lt;/pre&gt;&lt;/div&gt;



&lt;h2&gt;Jira info:&lt;/h2&gt;
&lt;ol&gt;
  &lt;li&gt;
&lt;a href=&quot;https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/TORF-489637&quot;&gt;TORF-489637 Provide automated way to compare and report file/directory permissions from two states&lt;/a&gt;
  &lt;/li&gt;
    &lt;li&gt;
&lt;a href=&quot;https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/TORF-495034&quot;&gt;TORF-489637 Productify execution of file/directory permissions comparison script&lt;/a&gt;
  &lt;/li&gt;
        &lt;li&gt;
&lt;a href=&quot;https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/CIS-140768&quot;&gt;TORF-140768 eric-enm-container-diff repo&lt;/a&gt;
  &lt;/li&gt;
&lt;/ol&gt;
</description>
  <displayName>eric-enm-container-diff</displayName>
  <properties>
    <org.jenkinsci.plugins.configfiles.folder.FolderConfigFileProperty plugin="config-file-provider@2.18">
      <configs class="sorted-set">
        <comparator class="org.jenkinsci.plugins.configfiles.folder.FolderConfigFileProperty$1"/>
      </configs>
    </org.jenkinsci.plugins.configfiles.folder.FolderConfigFileProperty>
    <io.jenkins.blueocean.rest.impl.pipeline.credential.BlueOceanCredentialsProvider_-FolderPropertyImpl plugin="blueocean-pipeline-scm-api@1.5.4">
      <domain plugin="credentials@2.3.0">
        <name>blueocean-folder-credential-domain</name>
        <description>Blue Ocean Folder Credentials domain</description>
        <specifications/>
      </domain>
      <user>evadtam</user>
      <id>jenkins-generated-ssh-key</id>
    </io.jenkins.blueocean.rest.impl.pipeline.credential.BlueOceanCredentialsProvider_-FolderPropertyImpl>
    <org.jenkinsci.plugins.pipeline.modeldefinition.config.FolderConfig plugin="pipeline-model-definition@1.3.2">
      <dockerLabel>CN_DesingRFA</dockerLabel>
      <registry plugin="docker-commons@1.13"/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.config.FolderConfig>
  </properties>
  <folderViews class="jenkins.branch.MultiBranchProjectViewHolder" plugin="branch-api@2.0.18">
    <owner class="org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject" reference="../.."/>
  </folderViews>
  <healthMetrics>
    <com.cloudbees.hudson.plugins.folder.health.WorstChildHealthMetric plugin="cloudbees-folder@6.4">
      <nonRecursive>false</nonRecursive>
    </com.cloudbees.hudson.plugins.folder.health.WorstChildHealthMetric>
  </healthMetrics>
  <icon class="jenkins.branch.MetadataActionFolderIcon" plugin="branch-api@2.0.18">
    <owner class="org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject" reference="../.."/>
  </icon>
  <orphanedItemStrategy class="com.cloudbees.hudson.plugins.folder.computed.DefaultOrphanedItemStrategy" plugin="cloudbees-folder@6.4">
    <pruneDeadBranches>true</pruneDeadBranches>
    <daysToKeep>1</daysToKeep>
    <numToKeep>30</numToKeep>
  </orphanedItemStrategy>
  <triggers/>
  <disabled>false</disabled>
  <sources class="jenkins.branch.MultiBranchProject$BranchSourceList" plugin="branch-api@2.0.18">
    <data>
      <jenkins.branch.BranchSource>
        <source class="jenkins.plugins.git.GitSCMSource" plugin="git@3.9.3">
          <id>blueocean</id>
          <remote>ssh://evadtam@gerrit.ericsson.se:29418/OSS/com.ericsson.oss.containerisation/eric-enm-container-diff-utils</remote>
          <credentialsId>jenkins-generated-ssh-key</credentialsId>
          <traits>
            <jenkins.plugins.git.traits.BranchDiscoveryTrait/>
            <jenkins.plugins.git.traits.CleanBeforeCheckoutTrait>
              <extension class="hudson.plugins.git.extensions.impl.CleanBeforeCheckout"/>
            </jenkins.plugins.git.traits.CleanBeforeCheckoutTrait>
            <jenkins.plugins.git.traits.CleanAfterCheckoutTrait>
              <extension class="hudson.plugins.git.extensions.impl.CleanCheckout"/>
            </jenkins.plugins.git.traits.CleanAfterCheckoutTrait>
            <jenkins.plugins.git.traits.LocalBranchTrait>
              <extension class="hudson.plugins.git.extensions.impl.LocalBranch">
                <localBranch>**</localBranch>
              </extension>
            </jenkins.plugins.git.traits.LocalBranchTrait>
          </traits>
        </source>
        <strategy class="jenkins.branch.DefaultBranchPropertyStrategy">
          <properties class="empty-list"/>
        </strategy>
      </jenkins.branch.BranchSource>
    </data>
    <owner class="org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject" reference="../.."/>
  </sources>
  <factory class="org.jenkinsci.plugins.workflow.multibranch.WorkflowBranchProjectFactory">
    <owner class="org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject" reference="../.."/>
    <scriptPath>Jenkinsfile</scriptPath>
  </factory>
</org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject>