<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description>&lt;h3&gt;Job Description&lt;/h3&gt;&#13;
&lt;p&gt;This job imports external CA certs and updates trust profile on ENM.&lt;/p&gt;&#13;
&lt;p&gt;This is mainly a ENM activity needs to be run after Intial Install and there is no interaction with netsim or netsim nodes.&lt;/p&gt;&#13;
&lt;p&gt;For any Trust Profile queries, contact NSS.&lt;/p&gt;&#13;
&lt;h1&gt;&lt;a href="https://confluence-nam.lmera.ericsson.se/display/PDUCD/TLS+Solution+on+NSS" color: green;&gt;More Info about TLS solution&lt;/a&gt;&lt;/h1&gt;&#13;
&#13;
&lt;br&gt;&#13;
&lt;br&gt;&#13;
&lt;b&gt; First line of support for issues with this job is Bumblebee : &lt;/b&gt; &lt;a href="mailto:BumbleBee ENM Grp &lt;BumbleBee.ENM@tcs.com&gt;?Subject=CN_Update_Trust_Profile%20Job" target="_top"&gt;Send Mail&lt;/a&gt; to provide feedback&#13;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.7"/>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.8">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs/>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.ericsson.duraci.messaging.ImplicitMessagingContributorProperty plugin="eiffel-core@75.0.1">
      <scriptEnabled>false</scriptEnabled>
    </com.ericsson.duraci.messaging.ImplicitMessagingContributorProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>20</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@2.2.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <com.ericsson.duraci.messaging.SequentialSemanticEiffelMessageLinkingJobProperty plugin="eiffel-core@75.0.1">
      <sequentialLinkingEnabled>false</sequentialLinkingEnabled>
    </com.ericsson.duraci.messaging.SequentialSemanticEiffelMessageLinkingJobProperty>
    <com.ericsson.duraci.messaging.ImplicitEiffelConfigurationNotificationMessagingJobProperty plugin="eiffel-core@75.0.1">
      <messagingEnabled>false</messagingEnabled>
    </com.ericsson.duraci.messaging.ImplicitEiffelConfigurationNotificationMessagingJobProperty>
    <com.ericsson.duraci.messaging.ImplicitEiffelMessagingJobProperty plugin="eiffel-core@75.0.1">
      <messagingEnabled>false</messagingEnabled>
      <jobFinishedDisabled>false</jobFinishedDisabled>
    </com.ericsson.duraci.messaging.ImplicitEiffelMessagingJobProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.33">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>clusterId</name>
          <description>Deployment name of CN Cloud Deployment to be installed  for exmple : ieatenmc15a014</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>drop</name>
          <defaultValue>21.06</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>simdep_release</name>
          <description>Simdep version no. 
Example: 1.5.216</description>
          <defaultValue>1.5.715</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>deployment_type</name>
          <defaultValue>Cloud</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MT_utils_version</name>
          <description>This is the version of the scripts available in Nexus&lt;br&gt;
The version used will be printed in the console output&lt;br&gt;
&lt;a href="https://arm1s11-eiffel004.eiffel.gic.ericsson.se:8443/nexus/content/repositories/releases/com/ericsson/mtg/utils/"&gt;Nexus Link&lt;/a&gt; </description>
          <defaultValue>RELEASE</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.ericsson.duraci.messaging.UserDomainSuffixJobProperty plugin="eiffel-core@75.0.1">
      <enabled>false</enabled>
      <userDomainSuffix/>
    </com.ericsson.duraci.messaging.UserDomainSuffixJobProperty>
    
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Jenkins_cENM_Design_Teams_TAF1_Slave_1Node_18</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/sh

function python() {
    python_command_to_run=("${@}")
    retrieve_image_version_to_use "enm_release_python27"
    docker run --rm --name mt-utils -u lciadm100 -v "$(pwd)":"/usr/src/app" armdocker.rnd.ericsson.se/proj_openstack_tooling/enm_release_python27:"${image_version_to_use}" python "${python_command_to_run[@]}"
}

function retrieve_image_version_to_use() {
    image_name="${1}"
    latest_repo_image_version=$(curl -s "https://gerrit.ericsson.se/gitweb?p=OSS/com.ericsson.oss.ci.rtd/enm-release-containerization.git;a=blob_plain;f=VERSION")
    if [[ -z "${latest_repo_image_version}" ]]; then
        image_version_to_use="latest"
    else
        image_version_to_use="${latest_repo_image_version}"
        perform_image_cleanup "${image_name}"
    fi
}

function perform_image_cleanup() {
    image_name="${1}"
    current_image_version=$(docker image list | grep "${image_name}" | awk '{print $2}' | head -1)
    if [[ -n "${current_image_version}" ]] &amp;&amp; [[ "${current_image_version}" != "${image_version_to_use}" ]]; then
        docker image rm -f "${image_name}" &gt; /dev/null 2&gt;&amp;1
    fi
}

function check_version_a_newer_than_version_b() {
    test "$(printf '%s\n' "$@" | sort -V | head -n 1)" != "${1}";
}

if check_version_a_newer_than_version_b "${simdep_release}" "1.5.425"; then
    curl -o ERICTAFenmnisimdep_CXP9031884.jar https://arm1s11-eiffel004.eiffel.gic.ericsson.se:8443/nexus/content/groups/public/com/ericsson/ci/simnet/ERICTAFenmnisimdep_CXP9031884/${simdep_release}/ERICTAFenmnisimdep_CXP9031884-${simdep_release}.jar
    mkdir -p ERICTAFenmnisimdep_CXP9031884/src/main/resources;
    unzip ERICTAFenmnisimdep_CXP9031884.jar -d ERICTAFenmnisimdep_CXP9031884/src/main/resources
    chmod -R 755 ./*
    sh $WORKSPACE/ERICTAFenmnisimdep_CXP9031884/src/main/resources/scripts/simdep/ext/jenkins/updateTrustONENM.sh $clusterId $drop $simdep_release $deployment_type
else
    # Downloading MT Util Scripts
    echo "Retrieving Scripts from Nexus"
    tarFileName="utils_${MT_utils_version}.tar.gz"
    echo "Downloading file - ${tarFileName} - to the workspace"
    curl -s --noproxy \* -L "https://arm1s11-eiffel004.eiffel.gic.ericsson.se:8443/nexus/service/local/artifact/maven/redirect?r=releases&amp;g=com.ericsson.mtg&amp;a=utils&amp;p=tar.gz&amp;v=${MT_utils_version}" -o ${tarFileName}
    tar -zxf ${tarFileName}

    curl -O https://arm1s11-eiffel004.eiffel.gic.ericsson.se:8443/nexus/content/repositories/releases/com/ericsson/ci/simnet/ERICTAFenmnisimdep_CXP9031884/$simdep_release/ERICTAFenmnisimdep_CXP9031884-$simdep_release.jar
    #curl -O https://arm1s11-eiffel004.eiffel.gic.ericsson.se:8443/nexus/content/repositories/snapshots/com/ericsson/ci/simnet/ERICTAFenmnisimdep_CXP9031884/1.5.276-SNAPSHOT/ERICTAFenmnisimdep_CXP9031884-1.5.276-20171227.085347-2.jar
    mkdir -p ERICTAFenmnisimdep_CXP9031884/src/main/resources;
    unzip ERICTAFenmnisimdep_CXP9031884-$simdep_release.jar -d ERICTAFenmnisimdep_CXP9031884/src/main/resources
    chmod -R 755 ./*
    sed -i 's/\r//' `find ./ERICTAFenmnisimdep_CXP9031884/src/main/resources/scripts/simdep/ext/jenkins -print | egrep -i 'sh|pl|txt'`
    DROP_temp=`echo "${drop//.}"`
    default=1801

    ##########################################################
    # For Drops less than 18.01
    ##########################################################
    if [ $DROP_temp -le $default ]; then
        if [[ $deployment_type == "Cloud" ]]; then
            ##########################################################
            # For Cloud tenancies
            # Get Workload VM IP, so that it can be used by all build steps
            ##########################################################

            wlvm_ip=$(python MTELoopScripts/etc/pylibs/retrieve_maintrack_openstack_deployment_details.py -c ${clusterId} --workload_vm_ip --print_to_screen)
            echo "Workload VM IP=${wlvm_ip}"

        elif [[ $deployment_type == "Physical" ]]; then
            ##########################################################
            # For Physical environments
            # Get Workload VM IP, so that it can be used by all build steps
            ##########################################################
            wlvm_ip=$(python -c "from MTELoopScripts.etc.pylibs import retrieve_dmt_information; print retrieve_dmt_information.search_for_workload_vm_ip(${clusterId})")
            echo "wlvm_ip=${wlvm_ip}"
        fi
        echo "INFO: Setting Up Passwordless SSH between Jenkins Slave and WLVM"
        python MTELoopScripts/etc/ssh_operator.py -c -i "${wlvm_ip}" -u root -p 12shroot

        ##########################################################
        # Update Trust Profile
        ##########################################################
        echo "INFO: Running PKI command via the cli App "
        cd ERICTAFenmnisimdep_CXP9031884/src/main/resources/scripts/simdep/ext/jenkins/
        scp -rp -o StrictHostKeyChecking=no  updateTrustProfile.sh root@${wlvm_ip}:/var/tmp/

        ssh -o UserKnownHostsFile=/dev/null -o CheckHostIP=no -o StrictHostKeyChecking=no root@${wlvm_ip} /bin/bash&lt;&lt;EOF
/opt/ericsson/enmutils/bin/cli_app 'pkiadm pfm -l -type trust';
chmod 777 /var/tmp/updateTrustProfile.sh; /var/tmp/updateTrustProfile.sh;
EOF
/usr/bin/expect  &lt;&lt;EOF1
spawn scp -rp -o StrictHostKeyChecking=no root@${wlvm_ip}:$TRUST_PROFILE_LOG $WORKSPACE
expect {
    -re assword: {send "shroot\r";exp_continue}
}
    sleep 5
EOF1

        OUTPUT=$(grep "sucessfully updated" ${WORKSPACE}/trustProfile.log)
        if [ ! -z "$OUTPUT" -a "$OUTPUT"!=" " ]; then
            echo "Trust Profile is successfully updated"
        else
            echo "Trust Profile is not successfully updated"
            exit 1
        fi

        if [[ $deployment_type == "Physical" &amp;&amp; $DROP_temp -ge 1713 ]]; then
            ##########################################################
            # For Physical environments with Drop greater than or equal to 17.13
            ##########################################################
            export Drop=$drop
            ./nodesCleanUp.sh $clusterId $Drop $deployment_type
            echo "INFO: Waiting for credm Job to run. Sleeping for 27 minutes"
            sleep 27m
        else
            echo "INFO: Waiting for credm Job to run. Sleeping for 30 minutes"
            sleep 30m
        fi
    else
        if [[ $deployment_type == "Cloud" ]]; then
            ##########################################################
            # For Openstack tenancies with drop greater then 18.01
            ##########################################################
            curl -O "https://arm901-eiffel004.athtem.eei.ericsson.se:8443/nexus/content/repositories/nss-releases/com/ericsson/nss/scripts/jq/1.0.1/jq-1.0.1.tar" ; tar -xvf jq-1.0.1.tar ; chmod +x ./jq
            sed_id=`curl -s "http://atvdit.athtem.eei.ericsson.se/api/deployments/?q=name=$clusterId" | ./jq '.[].enm.sed_id' | sed 's/\"//g'`
            ClusterName=`curl -s "http://atvdit.athtem.eei.ericsson.se/api/documents/$sed_id" | ./jq '.content.parameters.httpd_fqdn' | sed 's/\"//g' | awk -F. '{print $1}'`
        elif [[ $deployment_type == "Physical" ]]; then
            ##########################################################
            # For Physical environments with Drop greater than 18.01
            ##########################################################
            ClusterName=$clusterId
        fi
        ERICTAFenmnisimdep_CXP9031884/src/main/resources/scripts/simdep/ext/jenkins/setupUpdateTrustProfile.sh $ClusterName $deployment_type
        ERICTAFenmnisimdep_CXP9031884/src/main/resources/scripts/simdep/ext/jenkins/nodesCleanUp.sh $clusterId $drop $deployment_type
        sleep 20m
    fi
fi</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.40">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter/>
      <externalDelete/>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.17"/>
    <EnvInjectBuildWrapper plugin="envinject@2.4.0">
      <info>
        <propertiesContent>TRUST_PROFILE_LOG="/var/tmp/trustProfile.log"</propertiesContent>
        <secureGroovyScript plugin="script-security@1138.v8e727069a_025">
          <script/>
          <sandbox>true</sandbox>
        </secureGroovyScript>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
  </buildWrappers>
</project>