<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.7"/>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.8">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs/>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.ericsson.duraci.messaging.ImplicitMessagingContributorProperty plugin="eiffel-core@75.0.1">
      <scriptEnabled>false</scriptEnabled>
    </com.ericsson.duraci.messaging.ImplicitMessagingContributorProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>60</daysToKeep>
        <numToKeep>60</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@2.2.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <com.ericsson.duraci.messaging.SequentialSemanticEiffelMessageLinkingJobProperty plugin="eiffel-core@75.0.1">
      <sequentialLinkingEnabled>false</sequentialLinkingEnabled>
    </com.ericsson.duraci.messaging.SequentialSemanticEiffelMessageLinkingJobProperty>
    <com.ericsson.duraci.messaging.ImplicitEiffelConfigurationNotificationMessagingJobProperty plugin="eiffel-core@75.0.1">
      <messagingEnabled>false</messagingEnabled>
    </com.ericsson.duraci.messaging.ImplicitEiffelConfigurationNotificationMessagingJobProperty>
    <com.ericsson.duraci.messaging.ImplicitEiffelMessagingJobProperty plugin="eiffel-core@75.0.1">
      <messagingEnabled>false</messagingEnabled>
      <jobFinishedDisabled>false</jobFinishedDisabled>
    </com.ericsson.duraci.messaging.ImplicitEiffelMessagingJobProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.33">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>test_phase</name>
          <description>The test phase being run</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>MTE</string>
              <string>DROPBACK</string>
              <string>PLM</string>
              <string>RTD</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>drop</name>
          <description>Drop for upgrade&lt;br&gt;
Example: 18.02</description>
          <defaultValue>21.04</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>product_set_version</name>
          <description>The Product Set version of vENM to upgrade to&lt;br&gt;
Example: 18.02.19</description>
          <defaultValue>21.04.31</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>cluster_id</name>
          <description>Deployment name of vENM Cloud Deployment to be upgraded
</description>
          <defaultValue>ieatenmvcd01</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition plugin="extensible-choice-parameter@1.8.0">
          <name>mt_utils_version</name>
          <description>This is the version of the scripts available in Nexus&lt;br&gt;
The version used will be printed in the console output&lt;br&gt;
&lt;a href="https://arm1s11-eiffel004.eiffel.gic.ericsson.se:8443/nexus/content/repositories/releases/com/ericsson/mtg/utils/"&gt;Nexus Link&lt;/a&gt; </description>
          <editable>true</editable>
          <editableType>NoFilter</editableType>
          <choiceListProvider class="jp.ikedam.jenkins.plugins.extensible_choice_parameter.TextareaChoiceListProvider">
            <choiceList>
              <string>RELEASE</string>
              <string/>
            </choiceList>
          </choiceListProvider>
        </jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>tafVersion</name>
          <description>Version of the TAF to use&lt;br&gt;
AUTO will get the version mapped to Product Set&lt;br&gt;
If you do not want to use mapped version, select a specific version to use</description>
          <defaultValue>AUTO</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>centralCSVVersion</name>
          <description>Version of the Central CSV to use&lt;br&gt;
AUTO will get the version mapped to Product Set&lt;br&gt;
If you do not want to use mapped version, then can select a specific version to use</description>
          <defaultValue>AUTO</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>tafSchedulerVersion</name>
          <description>Version of the TAF Scheduler to use&lt;br&gt;
AUTO will get the version mapped to Product Set&lt;br&gt;
If you do not want to use mapped version, then can select a specific version to use</description>
          <defaultValue>AUTO</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>send_confidence_level</name>
          <description>This parameter is used to send the confidence level to portal/radiator/auto build log</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>NO</string>
              <string>YES</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>conf_level_for_this_job</name>
          <description>The confidence level event to be sent to the portal/radiator/build log</description>
          <defaultValue>RFA</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>dmt_id</name>
          <defaultValue>ieatenmvcd01</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>enm_iso_version</name>
          <defaultValue>1.105.31</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.ericsson.duraci.messaging.UserDomainSuffixJobProperty plugin="eiffel-core@75.0.1">
      <enabled>false</enabled>
      <userDomainSuffix/>
    </com.ericsson.duraci.messaging.UserDomainSuffixJobProperty>
    
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Jenkins_cENM_Design_Teams_TAF1_Slave_1Node_18</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.exportparams.ExportParametersBuilder plugin="export-params@1.9">
      <filePath>parameters</filePath>
      <fileFormat>properties</fileFormat>
      <keyPattern/>
      <useRegexp>false</useRegexp>
    </org.jenkinsci.plugins.exportparams.ExportParametersBuilder>
    <hudson.tasks.Shell>
      <command>mt_utils_version="${mt_utils_version}"
echo "Retrieving Scripts from Nexus"
tarFileName="utils_${mt_utils_version}.tar.gz"
echo "Downloading file - ${tarFileName} - to the workspace"
curl -s --noproxy \* -L "https://arm1s11-eiffel004.eiffel.gic.ericsson.se:8443/nexus/service/local/artifact/maven/redirect?r=releases&amp;g=com.ericsson.mtg&amp;a=utils&amp;p=tar.gz&amp;v=${mt_utils_version}" -o ${tarFileName}
tar -zxf ${tarFileName}

echo " ============================ run RFA 250 setup script from MT ================================"

echo " =============================================================================================="
sh MTELoopScripts/pipeline_scripts/rfa_250_setup.sh ${WORKSPACE}/parameters.properties


echo " ============================ run trivial copy TAF properties ================================"

echo " =============================================================================================="
echo " =============================================================================================="

cat &gt; taf.properties &lt;&lt; EOL
taf.profiles=RFA250
host.UiTestGrid.user.root.pass=shroot
taf_ui.default_OS=LINUX
host.UiTestGrid.port.ssh=22
# 1  Edit CENM URL
ENMUrl=ieatenmvcd01.athtem.eei.ericsson.se
# Edit the Cluster Name 
taf.config.dit.deployment.name=ieatenmvcd01

groups=RFA250
#  2 Edit CENM URL
host.haproxy_0.instance=ieatenmvcd01.athtem.eei.ericsson.se
host.haproxy_0.ip=ieatenmvcd01.athtem.eei.ericsson.se
host.haproxy_0.port.https=443
host.haproxy_0.port.http=80

host.httpd_su0.instance=ieatenmvcd01.athtem.eei.ericsson.se
host.httpd_su0.ip=ieatenmvcd01.athtem.eei.ericsson.se
host.httpd_su0.port.https=443
host.httpd_su0.port.http=80

MT_CSV_FILE_URI=https://arm1s11-eiffel004.eiffel.gic.ericsson.se:8443/nexus/content/sites/tor/enm-maintrack-central-test-datasource/20.14.21/maintrack/csv/nodeToAdd_2K.csv


taf_ui.default_browser=FIREFOX
taf.scenario.debug.enabled=true
host.UiTestGrid.ip=141.137.235.136 
host.UiTestGrid.user.root.type=ADMIN
host.UiTestGrid.type=SELENIUM_GRID
host.UiTestGrid.port.http=4444
# 3 Edit DMT ID 
dmt_id=ieatenmvcd01
EOL

cat taf.properties</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@2.4.0">
      <info>
        <propertiesFilePath>$WORKSPACE/build.properties</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
#This script is to find the accesible seleniumGrid IP of respective teams

version=$(curl --silent 'https://arm901-eiffel004.athtem.eei.ericsson.se:8443/nexus/content/repositories/nss/com/ericsson/nss/StandAlone_Simulation/uiTestGrid_healthcheck/maven-metadata.xml' | sed -n 's|&lt;release&gt;\(.*\)&lt;/release&gt;|\1|p' | sed -e 's/^[ \t]*//' | tail -1)

echo "Downloading latest version $version of UI grid health check script "

curl --retry 5 -fsS "https://arm901-eiffel004.athtem.eei.ericsson.se:8443/nexus/content/repositories/nss/com/ericsson/nss/StandAlone_Simulation/uiTestGrid_healthcheck/$version/uiTestGrid_healthcheck-$version.sh" -o uiTestGrid_healthcheck.sh

curl --retry 5 -fsS "https://arm901-eiffel004.athtem.eei.ericsson.se:8443/nexus/content/repositories/simnet/com/ericsson/simnet/uiTestGrid_healthcheck.sh" -o uiTestGrid_healthcheck.sh

WORKSPACE=$WORKSPACE
echo "====================== SKYPPING GRID CHECKS =================="

sh uiTestGrid_healthcheck.sh ${WORKSPACE}


echo " ================================ hopefully run TAF ========================================"

echo " =============================================================================================="
echo " =============================================================================================="
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@2.4.0">
      <info>
        <propertiesFilePath>$WORKSPACE/UiTestGridiP</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <EnvInjectBuilder plugin="envinject@2.4.0">
      <info>
        <propertiesFilePath>$WORKSPACE/build.properties</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <com.ericsson.oss.axis.BaselineDefinedMessageDispatcher plugin="taf-trigger@1.0.60">
      <ciArtifacts>
        <isoProduct>ENM</isoProduct>
        <isoDrop>${drop}</isoDrop>
        <isoVersion>${enm_iso_version}</isoVersion>
        <jobType>RFA Loop</jobType>
        <artifactsClassName>com.ericsson.oss.axis.BaselineDefinedMessageDispatcher$ArtifactAsISO$1</artifactsClassName>
      </ciArtifacts>
      <schedule>
        <xml>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;schedule xmlns="http://taf.lmera.ericsson.se/schema/te" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://taf.lmera.ericsson.se/schema/te http://taf.lmera.ericsson.se/schema/te/schedule/xml"&gt;
   &lt;!-- All of the below Testsuites will run for the applications present
        on SVC Cluster, if your application is running on any other cluster then
        you will need to add your testsuite in the appropriate schedule file --&gt;
&lt;item-group parallel="true"&gt;
  &lt;item-group parallel="true"&gt;
       &lt;!--Group 1: Longer than 800 seconds--&gt;
         &lt;item timeout-in-seconds="1800"&gt;
            &lt;name&gt;Network Explorer - Mavericks&lt;/name&gt;
            &lt;component&gt;com.ericsson.nms.pres.taf.testware:ERICTAFnetworkexplorer_CXP9030791&lt;/component&gt;
            &lt;suites&gt;NetworkExplorer.xml&lt;/suites&gt;
            &lt;groups&gt;RFA250&lt;/groups&gt;
         &lt;/item&gt; 
         &lt;item timeout-in-seconds="1800"&gt;
            &lt;name&gt;CPP Sync Node for ERBS - Aurora&lt;/name&gt;
            &lt;component&gt;com.ericsson.oss.mediation.cm:ERICTAFcppsyncnode_CXP9031591&lt;/component&gt;
            &lt;suites&gt;CPPSyncNode.xml&lt;/suites&gt;
            &lt;groups&gt;RFA250&lt;/groups&gt;
            &lt;env-properties&gt;
                &lt;property type="jvm" key="version"&gt;8&lt;/property&gt;
            &lt;/env-properties&gt;
         &lt;/item&gt; 
         &lt;item timeout-in-seconds="1800"&gt;
            &lt;name&gt;CM Export - Apollo_Valmiki&lt;/name&gt;
            &lt;component&gt;com.ericsson.oss.services.cm.export.testware:ERICTAF3gppexporttransformation_CXP9031331&lt;/component&gt;
            &lt;suites&gt;CMExport.xml&lt;/suites&gt;
            &lt;groups&gt;RFA250&lt;/groups&gt;
         &lt;/item&gt; 
         &lt;item timeout-in-seconds="1800"&gt;
            &lt;name&gt;UserManagement_RFALoop250 - DespicableUs&lt;/name&gt;
            &lt;component&gt;com.ericsson.nms.security:ERICTAFidentitymgmt_CXP9031186&lt;/component&gt;
            &lt;suites&gt;UserManagement_RFALoop250.xml&lt;/suites&gt;
            &lt;groups&gt;RFA250&lt;/groups&gt;
         &lt;/item&gt;          
         &lt;item-group parallel="true"&gt;
         &lt;!--Group 2: Longer than 500 seconds--&gt;
           &lt;item timeout-in-seconds="1800"&gt;
              &lt;name&gt;PM_UETR_RNC - Warriors&lt;/name&gt;
              &lt;component&gt;com.ericsson.oss.testware.pm:ERICTAFpmsubuetr_CXP9034217&lt;/component&gt;
              &lt;suites&gt;PM_UETR_RNC_Warriors.xml&lt;/suites&gt;
              &lt;groups&gt;RFA250&lt;/groups&gt;
           &lt;/item&gt;
           &lt;item timeout-in-seconds="1800"&gt;
              &lt;name&gt;CM Import - Vedas&lt;/name&gt;
              &lt;component&gt;com.ericsson.oss.services.cm.import.taf:ERICTAFImport_CXP9031284&lt;/component&gt;
              &lt;suites&gt;CMImport.xml&lt;/suites&gt;
              &lt;groups&gt;RFA250&lt;/groups&gt;
           &lt;/item&gt; 
           &lt;item timeout-in-seconds="1800"&gt;
              &lt;name&gt;CBA Add Node - Raisers&lt;/name&gt;
              &lt;component&gt;com.ericsson.oss.mediation.cba:ERICTAFcbaaddnode_CXP9031309&lt;/component&gt;
              &lt;suites&gt;CBAAddNode_Raisers.xml&lt;/suites&gt;
              &lt;groups&gt;RFA250&lt;/groups&gt;
           &lt;/item&gt; 
           &lt;item timeout-in-seconds="1800"&gt;
              &lt;name&gt;CBA Sync Node - Venus&lt;/name&gt;
              &lt;component&gt;com.ericsson.oss.mediation.cba:ERICTAFcbasyncnode_CXP9031597&lt;/component&gt;
              &lt;suites&gt;CBASyncNode_Venus.xml&lt;/suites&gt;
              &lt;groups&gt;RFA250&lt;/groups&gt;
           &lt;/item&gt; 
           &lt;item-group parallel="true"&gt;
              &lt;!--Group 3: Longer than 300 seconds--&gt;              
              &lt;item timeout-in-seconds="1800"&gt;
                &lt;name&gt;PM_CELLTRACE_RadioNode - Chanakya&lt;/name&gt;
                &lt;component&gt;com.ericsson.oss.testware.pm:ERICTAFpmsubcelltracetestware_CXP9033822&lt;/component&gt;
                &lt;suites&gt;PM_CELLTRACE_RadioNode_Chanakya.xml&lt;/suites&gt;
                &lt;groups&gt;RFA250&lt;/groups&gt;
             &lt;/item&gt; 
             &lt;item timeout-in-seconds="1800"&gt;
                &lt;name&gt;CBA Sync Node - Sentinels&lt;/name&gt;
                &lt;component&gt;com.ericsson.oss.mediation.cba:ERICTAFcbasyncnode_CXP9031597&lt;/component&gt;
                &lt;suites&gt;CBASyncNode.xml&lt;/suites&gt;
                &lt;groups&gt;RFA250&lt;/groups&gt;
             &lt;/item&gt; 
             &lt;item timeout-in-seconds="1800"&gt;
                &lt;name&gt;CM Config - Dynamic Import Undo, The Avengers&lt;/name&gt;
                &lt;component&gt;com.ericsson.oss.services.cm.config.taf:ERICTAFcmconfig_CXP9030950&lt;/component&gt;
                &lt;suites&gt;Revocation.xml&lt;/suites&gt;
                &lt;groups&gt;RFA250&lt;/groups&gt;
             &lt;/item&gt; 
             &lt;item timeout-in-seconds="1800"&gt;
                &lt;name&gt;CM GAT EPGOI All Chapters - Yangsters&lt;/name&gt;
                &lt;component&gt;com.ericsson.oss.testware.cm:ERICTAFcmgattestware_CXP9034593&lt;/component&gt;
                &lt;suites&gt;cmGatEPGOIAllChapters.xml&lt;/suites&gt;
                &lt;groups&gt;RFA250&lt;/groups&gt;
             &lt;/item&gt; 
             &lt;item timeout-in-seconds="1800"&gt;
                &lt;name&gt;PM_STATISTICAL_ERBS - Chanakya&lt;/name&gt;
                &lt;component&gt;com.ericsson.oss.testware.pm:ERICTAFpmsubstatistical_CXP9033208&lt;/component&gt;
                &lt;suites&gt;PM_STATISTICAL_ERBS_Chanakya.xml&lt;/suites&gt;
                &lt;groups&gt;RFA250&lt;/groups&gt;
             &lt;/item&gt;
             &lt;item timeout-in-seconds="2400"&gt;
                &lt;name&gt;FM_Acceptance_Test - Quarks&lt;/name&gt;
                &lt;component&gt;com.ericsson.oss.testware.fm:ERICTAFfmacceptancetestware_CXP9032937&lt;/component&gt;
                &lt;suites&gt;FM_CLI_Quarks.xml&lt;/suites&gt;
                &lt;groups&gt;RFA250&lt;/groups&gt;
             &lt;/item&gt; 
             &lt;item timeout-in-seconds="1800"&gt;
                &lt;name&gt;SoftwareHardwareManager_InventoryExports - Zenith&lt;/name&gt;
                &lt;component&gt;com.ericsson.oss.services.cm.export:ERICTAF3gppinvexporttransformer_CXP9032221&lt;/component&gt;
                &lt;suites&gt;SoftwareHardwareManager_InventoryExports.xml&lt;/suites&gt;
                &lt;groups&gt;RFA250&lt;/groups&gt;
             &lt;/item&gt; 
             &lt;item timeout-in-seconds="1800"&gt;
                &lt;name&gt;PM_CELLTRACE_ERBS - Warriors&lt;/name&gt;
                &lt;component&gt;com.ericsson.oss.testware.pm:ERICTAFpmsubcelltracetestware_CXP9033822&lt;/component&gt;
                &lt;suites&gt;PM_CELLTRACE_ERBS_Warriors.xml&lt;/suites&gt;
                &lt;groups&gt;RFA250&lt;/groups&gt;
             &lt;/item&gt; 
             &lt;item timeout-in-seconds="2400"&gt;
                &lt;name&gt;FM_Acceptance_Test - Dhruva&lt;/name&gt;
                &lt;component&gt;com.ericsson.oss.testware.fm:ERICTAFfmacceptancetestware_CXP9032937&lt;/component&gt;
                &lt;suites&gt;FM_CLI_Dhruva.xml&lt;/suites&gt;
                &lt;groups&gt;RFA250&lt;/groups&gt;
            &lt;/item&gt; 
             &lt;item timeout-in-seconds="900"&gt;
                &lt;name&gt;Upgrade Independence - Vulcanians&lt;/name&gt;
                &lt;component&gt;com.ericsson.oss.services:ERICTAFupgrade-independence_CXP9031731&lt;/component&gt;
                &lt;suites&gt;UpgradeIndependence.xml&lt;/suites&gt;
                &lt;groups&gt;RFA250&lt;/groups&gt;
             &lt;/item&gt; 
             &lt;item timeout-in-seconds="600"&gt;
                &lt;name&gt;Bulk Configuration gui - Vasista&lt;/name&gt;
                &lt;component&gt;com.ericsson.oss.presentation.client:ERICTAFbulkconfigurationgui_CXP9034996&lt;/component&gt;
                &lt;suites&gt;BulkConfiguration.xml&lt;/suites&gt;
                &lt;groups&gt;RFA250&lt;/groups&gt;
             &lt;/item&gt; 
             &lt;item timeout-in-seconds="1800"&gt;
                &lt;name&gt;CBA Read Non-Persistence Attribute - Sentinels&lt;/name&gt;
                &lt;component&gt;com.ericsson.oss.mediation.cba:ERICTAFcomecimreadnode_CXP9032222&lt;/component&gt;
                &lt;suites&gt;CBAReadNonPersistenceAttribute.xml&lt;/suites&gt;
                &lt;groups&gt;RFA250&lt;/groups&gt;
             &lt;/item&gt; 
             &lt;item timeout-in-seconds="1800"&gt;
                &lt;name&gt;FM_Acceptance_Services_Test - Dhruva&lt;/name&gt;
                &lt;component&gt;com.ericsson.oss.testware.fm:ERICTAFfmacceptancetestware_CXP9032937&lt;/component&gt;
                &lt;suites&gt;FM_CLI_Services_Dhruva.xml&lt;/suites&gt;
                &lt;groups&gt;RFA250&lt;/groups&gt;
             &lt;/item&gt; 
             &lt;item-group parallel="true"&gt;
             &lt;!--Group 4: Longer than 100 seconds--&gt;
                 &lt;item timeout-in-seconds="1800"&gt;
                    &lt;name&gt;PKI Web CLI - Ciphers&lt;/name&gt;
                    &lt;component&gt;com.ericsson.oss.itpf.security:ERICTAFpkiwebcli_CXP9031881&lt;/component&gt;
                    &lt;suites&gt;PKIWebCLI.xml&lt;/suites&gt;
                    &lt;groups&gt;RFA250&lt;/groups&gt;
                 &lt;/item&gt; 
                 &lt;item timeout-in-seconds="1800"&gt;
                    &lt;name&gt;NSCS_SSHKEY - Skyfall&lt;/name&gt;
                    &lt;component&gt;com.ericsson.nms.security.nscs:ERICTAFnodesecurity_CXP9032282&lt;/component&gt;
                    &lt;suites&gt;NSCS_SSHKEY_Skyfall.xml&lt;/suites&gt;
                    &lt;groups&gt;RFA250&lt;/groups&gt;
                    &lt;env-properties&gt;
                       &lt;property type="jvm" key="version"&gt;8&lt;/property&gt;
                    &lt;/env-properties&gt;
                 &lt;/item&gt; 
                 &lt;item timeout-in-seconds="1800"&gt;
                    &lt;name&gt;CM CLI - Blue Sky&lt;/name&gt;
                    &lt;component&gt;com.ericsson.oss.services.cm:ERICTAFcmeditor_CXP9030399&lt;/component&gt;
                    &lt;suites&gt;CMCLI.xml&lt;/suites&gt;
                    &lt;groups&gt;RFA250&lt;/groups&gt;
                    &lt;env-properties&gt;
                       &lt;property type="jvm" key="version"&gt;8&lt;/property&gt;
                    &lt;/env-properties&gt;
                 &lt;/item&gt; 
                 &lt;item timeout-in-seconds="1000"&gt;
                    &lt;name&gt;BulkNodeCli - Raptors&lt;/name&gt;
                    &lt;component&gt;com.ericsson.oss.services.nodecli:ERICTAFnodecli_CXP9032674&lt;/component&gt;
                    &lt;suites&gt;BulkNodeCli_NetsimNodes.xml&lt;/suites&gt;
                    &lt;groups&gt;RFA250&lt;/groups&gt;
                 &lt;/item&gt; 
                 &lt;item timeout-in-seconds="720"&gt;
                    &lt;name&gt;NSCS_CREDENTIAL - Skyfall&lt;/name&gt;
                    &lt;component&gt;com.ericsson.nms.security.nscs:ERICTAFnodesecurity_CXP9032282&lt;/component&gt;
                    &lt;suites&gt;NSCS_CREDENTIAL_Skyfall.xml&lt;/suites&gt;
                    &lt;groups&gt;RFA250&lt;/groups&gt;
                    &lt;env-properties&gt;
                       &lt;property type="jvm" key="version"&gt;8&lt;/property&gt;
                    &lt;/env-properties&gt;
                 &lt;/item&gt; 
                 &lt;item timeout-in-seconds="1800"&gt;
                    &lt;name&gt;FM_SNMP_NBI - Dhruva&lt;/name&gt;
                    &lt;component&gt;com.ericsson.oss.testware.fm:ERICTAFfmacceptancetestware_CXP9032937&lt;/component&gt;
                    &lt;suites&gt;FM_SNMP_NBI_Dhruva.xml&lt;/suites&gt;
                    &lt;groups&gt;RFA250&lt;/groups&gt;
                 &lt;/item&gt; 
                 &lt;item timeout-in-seconds="1800"&gt;
                    &lt;name&gt;Add LTE Node - Doozers&lt;/name&gt;
                    &lt;component&gt;com.ericsson.nms.mediation.cm:ERICTAFaddltenode_CXP9031280&lt;/component&gt;
                    &lt;suites&gt;AddLTENode.xml&lt;/suites&gt;
                    &lt;groups&gt;RFA250&lt;/groups&gt;
                 &lt;/item&gt; 
                 &lt;item timeout-in-seconds="1800"&gt;
                    &lt;name&gt;CLI Collection Scenarios - Blue Sky&lt;/name&gt;
                    &lt;component&gt;com.ericsson.oss.services.cm:ERICTAFclicollectionsavedsearchplugin_CXP9033883&lt;/component&gt;
                    &lt;suites&gt;CliCollection.xml&lt;/suites&gt;
                    &lt;groups&gt;RFA250&lt;/groups&gt;
                 &lt;/item&gt;
              &lt;/item-group&gt;
          &lt;/item-group&gt;
        &lt;/item-group&gt;
      &lt;/item-group&gt;
   &lt;/item-group&gt;
&lt;/schedule&gt;</xml>
        <testPropertiesAsString/>
        <scheduleClassName>com.ericsson.oss.axis.BaselineDefinedMessageDispatcher$ScheduleAsXml$1</scheduleClassName>
      </schedule>
      <testwarePropertiesFile>${WORKSPACE}/MTELoopScripts/libraries/rfa_250/taf.properties</testwarePropertiesFile>
      <tunnellingOn>true</tunnellingOn>
      <breakBuildOnTestsFailure>true</breakBuildOnTestsFailure>
      <sutClusterId>000</sutClusterId>
      <citeHostPropertiesFile/>
      <globalTestGroups/>
      <tafVersion>2.59.1</tafVersion>
      <userDefinedGAVs/>
      <additionalTestProperties>
        <property name="host.UiTestGrid.user.root.pass" value="shroot"/>
        <property name="taf_ui.default_OS" value="LINUX"/>
        <property name="host.UiTestGrid.port.ssh" value="22"/>
        <property name="host.gateway.ip" value="${host.gateway.ip}"/>
        <property name="node.sync.repeat" value="120"/>
        <property name="node.comecim.sync.retries" value="200"/>
        <property name="smoke.vusers" value="3"/>
        <property name="TORFIRSTPARAMETERS" value="${install_params}"/>
        <property name="host.UiTestGrid.ip" value="141.137.173.252"/>
        <property name="taf.config.dit.deployment.name" value="ieatenmvcd01"/>
        <property name="dmt_id" value="ieatenmvcd01"/>
        <property name="taf.config.dit.deployment.internal.nodes" value="fmalarmprocessing_1,fmalarmprocessing_2,fmalarmprocessing_3,fmalarmprocessing_4,fmx_1,fmx_2,jms_1,opendj_1,opendj_2"/>
        <property name="host.UiTestGrid.user.root.type" value="ADMIN"/>
        <property name="host.UiTestGrid.type" value="SELENIUM_GRID"/>
        <property name="host.UiTestGrid.port.http" value="4444"/>
      </additionalTestProperties>
      <arm>
        <id/>
        <description/>
        <httpString>https://arm1s11-eiffel004.eiffel.gic.ericsson.se:8443/nexus/content/groups/public</httpString>
        <credentials>
          <username/>
          <password/>
        </credentials>
      </arm>
      <ciFwkHost>https://ci-portal.seli.wh.rnd.internal.ericsson.com/</ciFwkHost>
      <tafTestExecutorHostname/>
      <tafTestExecutorPort>8080</tafTestExecutorPort>
    </com.ericsson.oss.axis.BaselineDefinedMessageDispatcher>
  </builders>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.87">
      <recipientList>deepak.thaman@ericsson.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern/>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
      </configuredTriggers>
      <contentType>text/plain</contentType>
      <defaultSubject>S&amp;NI RA RUN on  $BUILD_STATUS</defaultSubject>
      <defaultContent>Run on  Dep:${ENV,var="clusterId"} (${ENV,var="Deployment"}) 

Run on  


BUILD_STATUS:

$BUILD_STATUS

RUN BY: 

${BUILD_USER}


BUILD LOG:

${BUILD_LOG, maxLines=20}

==**==**==**==**==**==**==**==**==**==**==**==**==**==**==**==**==**==**==**==**

ALLURE_LINK

${TE_ALLURE_LOG_URL}

DEFAULT MESSAGE

$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern/>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo/>
      <from/>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.40">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter/>
      <externalDelete/>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@2.2.0">
      <template>${ENV,var="cluster_id"} , ${BUILD_USER}, , #${BUILD_NUMBER}</template>
      <descriptionTemplate/>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
    <org.jenkinsci.plugins.builduser.BuildUser plugin="build-user-vars-plugin@1.8"/>
  </buildWrappers>
</project>