<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Disabled - will be removed if nobody asks to be updated by 04/10/2019</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.8">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.ericsson.duraci.messaging.ImplicitMessagingContributorProperty plugin="eiffel-core@75.0.1">
      <scriptEnabled>false</scriptEnabled>
    </com.ericsson.duraci.messaging.ImplicitMessagingContributorProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@2.2.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <com.ericsson.duraci.messaging.SequentialSemanticEiffelMessageLinkingJobProperty plugin="eiffel-core@75.0.1">
      <sequentialLinkingEnabled>false</sequentialLinkingEnabled>
    </com.ericsson.duraci.messaging.SequentialSemanticEiffelMessageLinkingJobProperty>
    <com.ericsson.duraci.messaging.ImplicitEiffelConfigurationNotificationMessagingJobProperty plugin="eiffel-core@75.0.1">
      <messagingEnabled>false</messagingEnabled>
    </com.ericsson.duraci.messaging.ImplicitEiffelConfigurationNotificationMessagingJobProperty>
    <com.ericsson.duraci.messaging.ImplicitEiffelMessagingJobProperty plugin="eiffel-core@75.0.1">
      <messagingEnabled>false</messagingEnabled>
      <jobFinishedDisabled>false</jobFinishedDisabled>
    </com.ericsson.duraci.messaging.ImplicitEiffelMessagingJobProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.33">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <com.ericsson.duraci.messaging.UserDomainSuffixJobProperty plugin="eiffel-core@75.0.1">
      <enabled>false</enabled>
      <userDomainSuffix></userDomainSuffix>
    </com.ericsson.duraci.messaging.UserDomainSuffixJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>TAF_TE_slave</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cat &gt; taf.properties &lt;&lt; EOL
taf.profiles=maintrack
host.UiTestGrid.user.root.pass=shroot
taf_ui.default_OS=LINUX
host.UiTestGrid.port.ssh=22
groups=RFA250
ENMUrl=enm2-phase-0.hoff021.rnd.gic.ericsson.se

host.haproxy_0.instance=enm2-phase-0.hoff021.rnd.gic.ericsson.se
host.haproxy_0.ip=enm2-phase-0.hoff021.rnd.gic.ericsson.se
host.haproxy_0.port.https=443
host.haproxy_0.port.http=80

taf_ui.default_browser=FIREFOX
taf.scenario.debug.enabled=true
MT_CSV_FILE_URI=https://arm1s11-eiffel004.eiffel.gic.ericsson.se:8443/nexus/content/sites/tor/enm-maintrack-central-test-datasource/19.04.11/maintrack/csv/nodeToAdd_15K.csv
host.UiTestGrid.ip=141.137.232.139
host.UiTestGrid.user.root.type=ADMIN
host.UiTestGrid.type=SELENIUM_GRID
host.UiTestGrid.port.http=4444
taf.config.dit.deployment.name=cloud_native_test

EOL

cat taf.properties</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <com.ericsson.oss.axis.BaselineDefinedMessageDispatcher plugin="taf-trigger@1.0.60">
      <ciArtifacts>
        <isoProduct>ENM</isoProduct>
        <isoDrop>19.01</isoDrop>
        <isoVersion></isoVersion>
        <jobType>RFA Loop</jobType>
        <artifactsClassName>com.ericsson.oss.axis.BaselineDefinedMessageDispatcher$ArtifactAsISO$1</artifactsClassName>
      </ciArtifacts>
      <schedule>
        <xml>&lt;?xml version=&quot;1.0&quot;?&gt;
&lt;schedule xmlns=&quot;http://taf.lmera.ericsson.se/schema/te&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xsi:schemaLocation=&quot;http://taf.lmera.ericsson.se/schema/te http://taf.lmera.ericsson.se/schema/te/schedule/xml&quot;&gt;
    &lt;item-group parallel=&quot;false&quot;&gt;
        &lt;!--false--&gt;

        &lt;item&gt;
            &lt;name&gt;Install Licenses&lt;/name&gt;
            &lt;component&gt;com.ericsson.oss.services.lcm:ERICTAFlicensecontrolmonitoringservice_CXP9031454:1.45.5&lt;/component&gt;
            &lt;suites&gt;LicenseRollout.xml&lt;/suites&gt;
        &lt;/item&gt;
                &lt;item timeout-in-seconds=&quot;1800&quot; stop-on-fail=&quot;true&quot;&gt; &lt;!--true--&gt;
            &lt;name&gt;Add LTE Node - Doozers&lt;/name&gt;
            &lt;component&gt;com.ericsson.nms.mediation.cm:ERICTAFaddltenode_CXP9031280:1.22.1&lt;/component&gt;
            &lt;suites&gt;AddLTENode.xml&lt;/suites&gt;
            &lt;groups&gt;RFA250&lt;/groups&gt;
        &lt;/item&gt;
        &lt;item timeout-in-seconds=&quot;1800&quot; stop-on-fail=&quot;true&quot;&gt; &lt;!--true--&gt;
            &lt;name&gt;LoginPage&lt;/name&gt;
            &lt;component&gt;com.ericsson.oss.clientcommon.login:ERICTAFlogin_CXP9031513:1.13.1&lt;/component&gt;
            &lt;suites&gt;LoginPage.xml&lt;/suites&gt;
            &lt;groups&gt;&lt;/groups&gt;
        &lt;/item&gt;
    &lt;/item-group&gt;
&lt;/schedule&gt;






</xml>
        <testPropertiesAsString></testPropertiesAsString>
        <scheduleClassName>com.ericsson.oss.axis.BaselineDefinedMessageDispatcher$ScheduleAsXml$1</scheduleClassName>
      </schedule>
      <testwarePropertiesFile>${WORKSPACE}/taf.properties</testwarePropertiesFile>
      <tunnellingOn>false</tunnellingOn>
      <breakBuildOnTestsFailure>false</breakBuildOnTestsFailure>
      <sutClusterId>000</sutClusterId>
      <citeHostPropertiesFile></citeHostPropertiesFile>
      <globalTestGroups></globalTestGroups>
      <tafVersion></tafVersion>
      <userDefinedGAVs></userDefinedGAVs>
      <additionalTestProperties>
        <property name="taf.config.dit.deployment.name" value="ENM2_Cloud_Native"/>
      </additionalTestProperties>
      <arm>
        <id></id>
        <description></description>
        <httpString>https://arm1s11-eiffel004.eiffel.gic.ericsson.se:8443/nexus/content/groups/public</httpString>
        <credentials>
          <username></username>
          <password></password>
        </credentials>
      </arm>
      <ciFwkHost>https://cifwk-oss.lmera.ericsson.se/</ciFwkHost>
      <tafTestExecutorHostname></tafTestExecutorHostname>
      <tafTestExecutorPort>8080</tafTestExecutorPort>
    </com.ericsson.oss.axis.BaselineDefinedMessageDispatcher>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>