<?xml version="1.0" encoding="UTF-8"?><flow-definition plugin="workflow-job@2.25">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.3.2"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.3.2">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>SLAVE</name>
          <description/>
          <defaultValue>Cloud-Native-Pointfix</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CURRENT_SPRINT</name>
          <description/>
          <defaultValue>21.04</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CHECKOUT_TAG</name>
          <description/>
          <defaultValue>refs/tags/21.04</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>PUSH_COMMIT</name>
          <description/>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>EMAIL</name>
          <description/>
          <defaultValue>divya.nakka@tcs.com</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs/>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.ericsson.duraci.messaging.ImplicitMessagingContributorProperty plugin="eiffel-core@69.0.3">
      <scriptEnabled>false</scriptEnabled>
    </com.ericsson.duraci.messaging.ImplicitMessagingContributorProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.2">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <com.ericsson.duraci.messaging.ImplicitEiffelMessagingJobProperty plugin="eiffel-core@69.0.3">
      <messagingEnabled>false</messagingEnabled>
      <jobFinishedDisabled>false</jobFinishedDisabled>
    </com.ericsson.duraci.messaging.ImplicitEiffelMessagingJobProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.29">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.57.2">
    <script>def cENMImageRepos = ['OSS/com.ericsson.oss.containerisation/eric-enmsg-access-control','OSS/com.ericsson.oss.containerisation/eric-enmsg-amos']
def cENMCSARRepos = ['OSS/com.ericsson.oss.containerisation/eric-enm-csar-package']
def cENMIntegrationRepos = ['OSS/com.ericsson.oss.containerisation/eric-enm-infra-integration','OSS/com.ericsson.oss.containerisation/eric-enm-bro-integration']
def cENMOSBaseImageRepos = ['OSS/com.ericsson.oss.containerisation/eric-enm-sles-base','OSS/com.ericsson.oss.containerisation/eric-oss-monitoring-master']
def cENMBaseImageRepos = ['OSS/com.ericsson.oss.containerisation/eric-enm-monitoring-jre','OSS/com.ericsson.oss.containerisation/eric-enm-sles-apache2']

parameters {
    string(name: 'SLAVE', defaultValue: "Cloud-Native-Pointfix")
    string(name: 'CURRENT_SPRINT', description: 'Enter current sprint number Eg: 21.01',defaultValue: "21.01")
    string(name: 'CHECKOUT_TAG', description: 'This is the reference tag based on which pointfix branch would be created. Use refs/tags/SPRINT_[Current Sprint Number] to pick up the latest release. Eg:  refs/tags/SPRINT_20.14.', defaultValue: "*/master")
    string(name: 'EMAIL', defaultValue: "")
    booleanParam(name: 'PUSH_COMMIT', defaultValue: false)
}
pipeline {
    agent { label SLAVE }
    stages {
        stage('Init') {
            steps {
                script {
                    sh '''
                        #Remove running containers
                        running=$(docker ps -a -q| wc -l)
                        if [ "$running" -gt "0" ];then
                            echo "Killing containers"
                            docker rm -f $(docker ps -a -q)
                        fi
                    '''
                    createCsv()
                }
            }
        }
        stage('Update Image Versions') {
         steps {
                script {
                    callCreatePointFixBranchfunction(cENMImageRepos, 'Image')
                }
            }
        }

        stage('Update CSAR Versions') {
         steps {
                script {
                    callCreatePointFixBranchfunction(cENMCSARRepos, 'CSAR')
                }
            }
        }

        stage('Update Integration Charts Versions') {
         steps {
                script {
                    callCreatePointFixBranchfunction(cENMIntegrationRepos, 'Integration')
                }
            }
        }

        stage('Update OS Base Images Versions') {
         steps {
                script {
                    callCreatePointFixBranchfunction(cENMOSBaseImageRepos, 'Integration')
                }
            }
        }

        stage('Update Base Images Versions') {
         steps {
                script {
                    callCreatePointFixBranchfunction(cENMBaseImageRepos, 'Integration')
                }
            }
        }
        stage("creating branch for ci-pipeline") {
            steps {
                script {
                    BRANCH = "point_fix_${params.CURRENT_SPRINT}"
                    echo "${BRANCH}"
                    def repo = "OSS/com.ericsson.oss.containerisation/enm-containerisation-ci-pipeline"
                    branch_exist = sh(returnStatus: true, script: """git ls-remote --exit-code --heads $env.GERRIT_MIRROR/$repo $BRANCH""")
                    if(branch_exist != 0 &amp;&amp; env.PUSH_COMMIT == "true") {
                        sh """
                           git clone "${GERRIT_MIRROR}/${repo}"
                           cd enm-containerisation-ci-pipeline
                           git checkout -b ${BRANCH}
                           git push ${GERRIT_CENTRAL}/$repo $BRANCH
                           git checkout master
                           git branch -D ${BRANCH}
                        """
                    }
                }
            }
        }
    }
    post {
        always {
            archiveArtifacts artifacts: 'report.csv', allowEmptyArchive: true
            emailext attachmentsPattern: 'report.csv', body: 'cENM Sprint Version Update Completed, See attached file for detailed results.', subject: 'cENM Sprint Version Update Completed', to: EMAIL
            sh '''
                #clean workspace
                echo Workspace ${WORKSPACE}
                sudo rm -rf ${WORKSPACE}/*
            '''
        }
        //unstable {
        //     emailext attachmentsPattern: 'report.csv', body: "cENM Sprint Version Update Failed Pipeline: ${currentBuild.fullDisplayName}", subject: 'cENM Sprint Version Update Failed.', to: EMAIL
        //     archiveArtifacts artifacts: 'report.csv', allowEmptyArchive: true
        //     sh '''
        //         #clean workspace
        //         echo Workspace ${WORKSPACE}
        //         sudo rm -rf ${WORKSPACE}/*
        //     '''
        // }
        // unsuccessful {
        //     emailext attachmentsPattern: 'report.csv', body: "cENM Sprint Version Update Failed Pipeline: ${currentBuild.fullDisplayName}", subject: 'cENM Sprint Version Update Failed.', to: EMAIL
        //     archiveArtifacts artifacts: 'report.csv', allowEmptyArchive: true
        //     sh '''
        //         #clean workspace
        //         echo Workspace ${WORKSPACE}
        //         sudo rm -rf ${WORKSPACE}/*
        //     '''
        // }
    }
}

def createCsv() {
    outString = 'Repository,Repo Type,Old Version,New Version,Pointfix Branch Version,Updated,Status\r\n'
    writeFile file: 'report.csv', text: outString
}

def callCreatePointFixBranchfunction(repos, repoType) {
    jobStatusSuccess = true
    status = "ERROR"
    updated = "FALSE"
    oldVersion = ""
    newVersion = ""
    repos.each { item -&gt;
        def b = build(job: 'eric-cenm-create-pointfix-branch', parameters: [[$class:'StringParameterValue', name:'REPO', value:String.valueOf("${item}")],[$class:'StringParameterValue', name:'CURRENT_SPRINT', value:String.valueOf("${params.CURRENT_SPRINT}")],[$class:'StringParameterValue', name:'CHECKOUT_TAG', value:String.valueOf("${params.CHECKOUT_TAG}")],[$class:'StringParameterValue', name:'EMAIL', value:String.valueOf("${params.EMAIL}")],[$class:'BooleanParameterValue', name:'PUSH_COMMIT', value: "${params.PUSH_COMMIT}"]], propagate: false, wait: true)

        currentBuild.description = "Sprint Version Update Branch: $b.buildVariables.BRANCH_NAME&lt;BR&gt;"
        currentBuild.description += "Branch based on tag/branch: CHECKOUT_TAG"
        echo "Repo = ${item}, Result = $b.result"
        if("$b.result" == 'SUCCESS') {
            status = "OK"
            jobStatusSuccess = jobStatusSuccess &amp;&amp; true
        } else {
            status = "ERROR"
            jobStatusSuccess = jobStatusSuccess &amp;&amp; false
        }

        readContent = readFile 'report.csv'
        outString = readContent + "${item},$repoType,$b.buildVariables.oldMinorVersion,$b.buildVariables.newMinorVersion,$b.buildVariables.newVersion,$b.buildVariables.updated,$status\r\n"
        writeFile file: 'report.csv', text: outString
         if(!jobStatusSuccess) {
            currentBuild.result = "UNSTABLE"
            //unstable("Stage unstable")
        //     error("Error while updating the versions for the repo type: $repoType")
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>