<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.8">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.ericsson.duraci.messaging.ImplicitMessagingContributorProperty plugin="eiffel-core@75.0.1">
      <scriptEnabled>false</scriptEnabled>
    </com.ericsson.duraci.messaging.ImplicitMessagingContributorProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@2.2.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <com.ericsson.duraci.messaging.SequentialSemanticEiffelMessageLinkingJobProperty plugin="eiffel-core@75.0.1">
      <sequentialLinkingEnabled>false</sequentialLinkingEnabled>
    </com.ericsson.duraci.messaging.SequentialSemanticEiffelMessageLinkingJobProperty>
    <com.ericsson.duraci.messaging.ImplicitEiffelConfigurationNotificationMessagingJobProperty plugin="eiffel-core@75.0.1">
      <messagingEnabled>false</messagingEnabled>
    </com.ericsson.duraci.messaging.ImplicitEiffelConfigurationNotificationMessagingJobProperty>
    <com.ericsson.duraci.messaging.ImplicitEiffelMessagingJobProperty plugin="eiffel-core@75.0.1">
      <messagingEnabled>false</messagingEnabled>
      <jobFinishedDisabled>false</jobFinishedDisabled>
    </com.ericsson.duraci.messaging.ImplicitEiffelMessagingJobProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.33">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <com.ericsson.duraci.messaging.UserDomainSuffixJobProperty plugin="eiffel-core@75.0.1">
      <enabled>false</enabled>
      <userDomainSuffix></userDomainSuffix>
    </com.ericsson.duraci.messaging.UserDomainSuffixJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>CENM_RHEL7_GE</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.groovy.SystemGroovy plugin="groovy@2.4">
      <source class="hudson.plugins.groovy.StringSystemScriptSource">
        <script plugin="script-security@1138.v8e727069a_025">
          <script>hudson.model.Hudson.instance.getView(&apos;ENM CN Build&apos;).items.each() { 
println it.fullDisplayName 
job = hudson.model.Hudson.instance.getItem(it.fullDisplayName)
if  ((it.fullDisplayName !=&quot;eric-enm-cappa-utils&quot;) &amp;&amp; (it.fullDisplayName !=&quot;eric-enm-container-diff&quot;) &amp;&amp; (it.fullDisplayName !=&quot;eric-enm-container-diff-utils&quot;))  {
   build = job.getLastBuild()
   if (job.getLastBuild() != null)  {
          hudson.model.Hudson.instance.getItemByFullName(it.fullDisplayName).builds.findAll {
             it.number &lt;= build.getNumber()
           }.each  {
           action = it.getAction(jenkins.metrics.impl.TimeInQueueAction.class)
             if (action !=null)  {
              que = action.getQueuingDurationMillis()
              tot = action.getTotalDurationMillis()
              btm = tot - que
              println &quot;Job: &quot;+it.fullDisplayName+&quot;  Build  &quot;+it.number+&quot;  Date:  &quot;+it.getTime()+&quot;    Queuing Time [ms]: &quot;+que+ &quot;       Total Duration Time [ms]: &quot;+tot+&quot;          BuildingTime [ms]: &quot;+btm
              }
           }
   }
}
}</script>
          <sandbox>false</sandbox>
        </script>
      </source>
    </hudson.plugins.groovy.SystemGroovy>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>