<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.25">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.3.2"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.3.2">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>CHECKOUT_TAG</string>
        <string>SLAVE</string>
        <string>REPO</string>
        <string>CURRENT_SPRINT</string>
        <string>PUSH_COMMIT</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.ericsson.duraci.messaging.ImplicitMessagingContributorProperty plugin="eiffel-core@69.0.3">
      <scriptEnabled>false</scriptEnabled>
    </com.ericsson.duraci.messaging.ImplicitMessagingContributorProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.2">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <com.ericsson.duraci.messaging.ImplicitEiffelMessagingJobProperty plugin="eiffel-core@69.0.3">
      <messagingEnabled>false</messagingEnabled>
      <jobFinishedDisabled>false</jobFinishedDisabled>
    </com.ericsson.duraci.messaging.ImplicitEiffelMessagingJobProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.29">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>SLAVE</name>
          <description></description>
          <defaultValue>Dev-Cloud-Native</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>REPO</name>
          <description>Enter the repo with server details. Eg. OSS/com.ericsson.oss.de.containerisation/test-eric-enmsg-kpi-service</description>
          <defaultValue>OSS/com.ericsson.oss.de.containerisation/test-eric-enmsg-kpi-service</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CURRENT_SPRINT</name>
          <description>Enter current sprint number Eg: 21.01</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CHECKOUT_TAG</name>
          <description>This is the reference tag based on which pointfix branch would be created. Use refs/tags/SPRINT_[Current Sprint Number] to pick up the latest release. Eg: refs/tags/SPRINT_20.14.</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>EMAIL</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>PUSH_COMMIT</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.57.2">
    <script>pipeline {
    agent { label SLAVE }
    parameters {
        string(name: &apos;SLAVE&apos;, defaultValue: &quot;Dev-Cloud-Native&quot;)
        string(name: &apos;REPO&apos;, description: &apos;Enter the repo with server details. Eg. OSS/com.ericsson.oss.de.containerisation/test-eric-enmsg-kpi-service&apos;, defaultValue: &quot;OSS/com.ericsson.oss.de.containerisation/test-eric-enmsg-kpi-service&quot;)
        string(name: &apos;CURRENT_SPRINT&apos;, description: &apos;Enter current sprint number Eg: 21.01&apos;)
		string(name: &apos;CHECKOUT_TAG&apos;, description: &apos;This is the reference tag based on which pointfix branch would be created. Use refs/tags/SPRINT_[Current Sprint Number] to pick up the latest release. Eg: refs/tags/SPRINT_20.14.&apos;)
        string(name: &apos;EMAIL&apos;, defaultValue: &quot;&quot;)
        booleanParam(name: &apos;PUSH_COMMIT&apos;, defaultValue: false,)
    }
    stages {

        stage(&apos;Get Latest Sprint Version&apos;) {
         steps {
                script {
                    deleteDir()
                    //def drop = getLatestSprintNumber()
					env.BRANCH_NAME=&quot;point_fix_${params.CURRENT_SPRINT}&quot;

                    //env.BRANCH_NAME=&quot;point_fix_${drop}&quot;
                    //env.BRANCH_NAME=&quot;sprint_test_1&quot;

                    echo &quot;Repo Name is: ${params.REPO}&quot;
                    echo &quot;Branching based on the tag/branch: ${params.CHECKOUT_TAG}&quot;
                    echo &quot;Branch Name is: ${BRANCH_NAME}&quot;

                }
            }
        }
        stage(&apos;Checkout&apos;) {
            steps {

                checkout([$class: &apos;GitSCM&apos;, branches: [[name: &quot;${params.CHECKOUT_TAG}&quot;]], doGenerateSubmoduleConfigurations: false, extensions: [], gitTool: &apos;Default&apos;, submoduleCfg: [], userRemoteConfigs: [[url: &quot;ssh://gerrit.ericsson.se:29418/${params.REPO}&quot;]]])
            }
        }
        stage(&quot;Check if branch exists&quot;) {
            steps {
                script {
                    env.exists = check_branch(&quot;${params.REPO}&quot;, &quot;${env.BRANCH_NAME}&quot;)

                    echo &quot;exists=${env.exists}&quot;
                }
            }
        }
        stage(&quot;Create Branch&quot;) {
            when { expression { env.exists != &quot;true&quot; } }
            steps {
                script {
                    functionToCreatePointfixBranch(&quot;${params.REPO}&quot;, &quot;${env.BRANCH_NAME}&quot;)
                }
            }
        }

        stage(&apos;Check if any updates&apos;) {
            when { expression { env.exists == &quot;true&quot; } }
            steps {
                script {
                    // Switch to the existing branch
                    sh(returnStatus: true, script: &quot;git checkout ${env.BRANCH_NAME}&quot;)
                    def changed = checkIfVersionPrefixChanged()
                    echo &quot;${changed}&quot;

                    if(changed == false){
                        println(&quot;*****************************************************************************************************************************************************************************************&quot;)
                        println(&quot;Remote branch ${env.BRANCH_NAME} exists but there is no change to VERSION_PREFIX. Hence calling function to create branch, bump patch version and push the changes to the remote repo...&quot;)
                        bumpPatchVersion(&quot;${params.REPO}&quot;, &quot;${env.BRANCH_NAME}&quot;)
                        env.updated = &quot;TRUE&quot;
                        println(&quot;*****************************************************************************************************************************************************************************************&quot;)
                    } else {
                        println(&quot;******************************************************************************************************&quot;)
                        println(&quot;Remote branch ${env.BRANCH_NAME} exists and VERSION_PREFIX has been updated. Hence skipping this repo.&quot;)
                        currentBuild.description = &quot;Branch already created. Skipping this repo&quot;
                        println(&quot;******************************************************************************************************&quot;)
                        env.updated = &quot;FALSE&quot;
                    }

                }
            }
        }
        stage(&quot;Bump the Minor Version&quot;) {
            when { expression { env.exists != &quot;true&quot; } }
            steps {
                script {
                    // Switch to Master
                    sh(returnStatus: true, script: &quot;git checkout master&quot;)
                    sh(returnStatus: true, script: &quot;git pull&quot;)
                    sh(returnStatus: true, script: &quot;git reset --hard origin/master&quot;)
                    bumpMinorVersion(&quot;${params.REPO}&quot;, &apos;HEAD:master&apos;)
                    println(&quot;*******************************************************************************************************************************************************&quot;)
                    println(&quot;Old Minor Version: ${env.oldMinorVersion}&quot;)
                    println(&quot;New Minor Version: ${env.newMinorVersion}&quot;)
                    println(&quot;*******************************************************************************************************************************************************&quot;)
                }
            }
        }

    }
    post {
        failure {
            mail to: EMAIL,
                    subject: &quot;Failed Pipeline: ${currentBuild.fullDisplayName}&quot;,
                    body: &quot;Failure on ${env.BUILD_URL}&quot;
        }
    }
}

def getLatestSprintNumber() {
    def versionText  = sh (returnStdout: true, script: &apos;wget -q -O - --no-check-certificate &quot;https://ci-portal.seli.wh.rnd.internal.ericsson.com//api/product/ENM/latestdrop/&quot;&apos; )
    def props = readJSON text: versionText

    return props.drop
}

def checkIfVersionPrefixChanged(){
    def status = sh (returnStatus: true, script: &apos;git diff --name-only  origin/master | grep VERSION_PREFIX&apos;)
    return status == 0
}

def check_branch(repo_check, branch_check){
    return_value= false
    branch_exists = sh(returnStatus: true, script: &quot;&quot;&quot;git ls-remote --exit-code --heads $env.GERRIT_MIRROR/$repo_check $branch_check&quot;&quot;&quot;)

    if(branch_exists == 0){
        return_value= true
    }
    return return_value
}


def functionToCreatePointfixBranch(repo_check, branch_check) {
    println(&quot;Remote branch $branch_check doesn&apos;t exist. Calling function to create branch, bump patch version and push the changes to the remote repo...&quot;)
    sh(returnStatus: true, script: &quot;git checkout -b $branch_check&quot;)
    println(&quot;*******************************************************************************************************************************************************&quot;)
    bumpPatchVersion(&quot;$repo_check&quot;, &quot;$branch_check&quot;)
    println(&quot;Pointfix Branch ${env.BRANCH_NAME} created for the repo: ${params.REPO}&quot;)
    println(&quot;*******************************************************************************************************************************************************&quot;)
    sh(returnStatus: true, script: &quot;git checkout master&quot;)
    sh(returnStatus: true, script: &quot;git branch -D $branch_check&quot;)
}

def bumpPatchVersion(repo_check, branch_check) {

    env.oldVersion = readFile &quot;VERSION_PREFIX&quot;
    env.oldVersion = env.oldVersion.trim()

    sh &apos;docker run --rm -v $PWD/VERSION_PREFIX:/app/VERSION -w /app armdocker.rnd.ericsson.se/proj-enm/bump patch&apos;

    env.newVersion = readFile &quot;VERSION_PREFIX&quot;
    env.newVersion = env.newVersion.trim()
    env.IMAGE_VERSION = env.newVersion

    if (env.PUSH_COMMIT == &quot;true&quot;) {
        sh &quot;&quot;&quot;
            git add VERSION_PREFIX
            git commit -m &quot;[ci-skip] Automatic new patch version bumping: $IMAGE_VERSION&quot;
            git push $env.GERRIT_CENTRAL/$repo_check $branch_check
        &quot;&quot;&quot;
        status = &quot;OK&quot;
        env.updated = &quot;TRUE&quot;
        currentBuild.description = &quot;Pointfix Branch Version: &quot; + env.newVersion + &quot;&lt;BR&gt;&quot;
    } else {
        status = &quot;OK&quot;
        currentBuild.description = &quot;Pointfix Branch Version: &quot; + env.newVersion + &quot;&lt;BR&gt;&quot;
        currentBuild.description += &quot;PUSH_COMMIT set to false, no commit was made.&quot;
        env.updated = &quot;FALSE&quot;
        echo &quot;PUSH_COMMIT set to false, no commit was made.&quot;
        sh(returnStatus: true, script: &quot;git reset --hard origin/master &gt; /dev/null&quot;)
    }
}

def bumpMinorVersion(repo_check, branch_check) {

    env.oldMinorVersion = readFile &quot;VERSION_PREFIX&quot;
    env.oldMinorVersion = env.oldMinorVersion.trim()

    sh &apos;docker run --rm -v $PWD/VERSION_PREFIX:/app/VERSION -w /app armdocker.rnd.ericsson.se/proj-enm/bump minor&apos;
    env.newMinorVersion = readFile &quot;VERSION_PREFIX&quot;
    env.newMinorVersion = env.newMinorVersion.trim()

    env.IMAGE_VERSION = env.newMinorVersion

    if (env.PUSH_COMMIT == &quot;true&quot;) {
        sh &quot;&quot;&quot;
            git add VERSION_PREFIX
            git commit -m &quot;[ci-skip] Automatic new minor version bumping: $IMAGE_VERSION&quot;
            #git push $env.GERRIT_CENTRAL/$repo_check $branch_check
            git push origin $branch_check
        &quot;&quot;&quot;
        status = &quot;OK&quot;
        env.updated = &quot;TRUE&quot;
        currentBuild.description += &quot;Master Branch Version: &quot; + env.newMinorVersion
    } else {
        status = &quot;OK&quot;
        currentBuild.description += &quot;Master Branch Version: &quot; + env.newMinorVersion
        env.updated = &quot;FALSE&quot;
        echo &quot;PUSH_COMMIT set to false, no commit was made.&quot;
        sh(returnStatus: true, script: &quot;git reset --hard origin/master &gt; /dev/null&quot;)
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>true</disabled>
</flow-definition>