<?xml version="1.0" encoding="UTF-8"?><flow-definition plugin="workflow-job@2.25">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.3.2"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.3.2">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>This job is used to integrate api checker tool pluto to detect k8 deprecations</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>DROP</name>
          <description/>
          <defaultValue/>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PRODUCT_SET</name>
          <description/>
          <defaultValue/>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>SLAVE</name>
          <description>Jenkins CSAR slave options</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>Cloud-Native</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TARGET_VERSION</name>
          <description>Version must begin with a 'v'.</description>
          <defaultValue>v1.22.0</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs/>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.ericsson.duraci.messaging.ImplicitMessagingContributorProperty plugin="eiffel-core@69.0.3">
      <scriptEnabled>false</scriptEnabled>
    </com.ericsson.duraci.messaging.ImplicitMessagingContributorProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.2">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty/>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>40</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.ericsson.duraci.messaging.ImplicitEiffelMessagingJobProperty plugin="eiffel-core@69.0.3">
      <messagingEnabled>false</messagingEnabled>
      <jobFinishedDisabled>false</jobFinishedDisabled>
    </com.ericsson.duraci.messaging.ImplicitEiffelMessagingJobProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.29">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.57.2">
    <script>#!/usr/bin/env groovy


//Function to delete existing docker images
def delete_docker_image()
{
    images = sh (script: '''docker images|awk '{ print $1":"$2 }' ''', returnStdout: true ).trim()
    if ( images.contains("${rule_scan_pluto_image}") ){
    sh '''  docker rmi -f "${rule_scan_pluto_image}" '''
    echo "${rule_scan_pluto_image} image removed from the slave"
    }
    if (images.contains("${cenm_utilities_docker_image}") ){
    sh '''  docker rmi -f "${cenm_utilities_docker_image}" '''
    echo "${cenm_utilities_docker_image} image removed from the slave"
    }
}

//Function to get all charts from drop and product set.Copy extracted charts to charts folder.

def get_chart_versions(){
       echo "Product Set Version: ${PRODUCT_SET}"
       sh "curl -4 --location --request GET 'https://ci-portal.seli.wh.rnd.internal.ericsson.com/api/cloudnative/getCloudNativeProductSetContent/${drop}/${PRODUCT_SET}/'&gt;cn_confidence_level_response.json"
       env.infra_chart_version= sh (script : "./jq '.[1] .integration_charts_data|.[] | select(.chart_name==\"eric-enm-infra-integration\")|.chart_version' cn_confidence_level_response.json|sed 's/\"//g'", returnStdout: true).trim()
            if(env.infra_chart_version==''){
               error("Invalid Infra Integration chart provided. There is no Cloud native content for the given Product Set Version.")
            }
            env.bro_chart_version= sh (script : "./jq '.[1].integration_charts_data|.[]|select(.chart_name==\"eric-enm-bro-integration\")|.chart_version' cn_confidence_level_response.json|sed 's/\"//g'", returnStdout: true).trim()
            if(env.bro_chart_version==''){
               error("Invalid Bro Integration chart provided. There is no Cloud native content for the given Product Set Version.")
            }
            env.pre_deploy_chart_version= sh (script : "./jq '.[1].integration_charts_data|.[]|select(.chart_name==\"eric-enm-pre-deploy-integration\")|.chart_version' cn_confidence_level_response.json|sed 's/\"//g'", returnStdout: true).trim()
            if(env.pre_deploy_chart_version==''){
               error("Invalid Predeploy Integration chart provided. There is no Cloud native content for the given Product Set Version.")
            }
            env.stateless_chart_version= sh (script : "./jq '.[1].integration_charts_data|.[]|select(.chart_name==\"eric-enm-stateless-integration\")|.chart_version' cn_confidence_level_response.json|sed 's/\"//g'", returnStdout: true).trim()
            if(env.stateless_chart_version==''){
               error("Invalid Stateless Integration chart provided. There is no Cloud native content for the given Product Set Version.")
            }
            env.monitoring_chart_version= sh (script : "./jq '.[1].integration_charts_data|.[]|select(.chart_name==\"eric-enm-monitoring-integration\")|.chart_version' cn_confidence_level_response.json|sed 's/\"//g'", returnStdout: true).trim()
            if(env.monitoring_chart_version==''){
               error("Invalid Monitoring Integration chart provided. There is no Cloud native content for the given Product Set Version.")
            }
      }

pipeline{
    agent {
            node
            {
               label slave
            }
        }
    options {
        timeout(time: 900, unit: 'SECONDS')
        }
    environment {
        HOME_DIR = "${WORKSPACE}"
        cenm_utilities_docker_image = "armdocker.rnd.ericsson.se/proj-enm/cenm-build-utilities:latest"
        rule_scan_pluto_image = "armdocker.rnd.ericsson.se/proj-adp-cicd-drop/rule-scan-pluto:latest"
        }
    stages{
        stage('Clean Up WorkSpace'){
                steps{
                       deleteDir()
                     }
             }
        stage('Checkout Integration Pipeline Git Repository') {
            steps {
                git branch: 'master',
                        url: '${GERRIT_MIRROR}/OSS/com.ericsson.oss.containerisation/eric-enm-integration-pipeline-code'
                  }
             }
        stage('Load common methods') {
            steps {
                script {
                    commonMethods = load("${env.WORKSPACE}/Jenkins/JobDSL/CommonMethods.groovy")
                }
            }
        }
		stage('Delete docker image') {
            steps {
                script {
                     delete_docker_image()
                  }
                }
             }
        stage('Pull docker images') {
            steps {
                script {
                    sh "docker pull ${cenm_utilities_docker_image}"
                    sh "docker pull ${rule_scan_pluto_image}"
                }
            }
        }
        stage('Get Target Version'){
            steps {
                script {
				/*
                   env.TARGET_VERSION = sh (script : "docker run armdocker.rnd.ericsson.se/proj-enm/cenm-build-utilities:latest kubectl version --short| sed 's/Client Version: //g' ", returnStdout: true).trim()*/
                   echo "${TARGET_VERSION}"
				   env.TARGET_VERSION = "${TARGET_VERSION}"
				   echo env.TARGET_VERSION
                }
            }
        }
        stage('Pre Configurations') {
            steps {
                script {
                   sh 'mkdir -p ${HOME_DIR}/conf'
                   sh 'mkdir -p ${HOME_DIR}/src'
                   sh 'mkdir -p ${HOME_DIR}/reports'
                   echo "${TARGET_VERSION}"
                   sh "sed -i 's/ReplaceTarget/${TARGET_VERSION}/' ${HOME_DIR}/conf/pluto_config.yaml"
                   sh 'chmod +x ${HOME_DIR}/conf/pluto_config.yaml'
                   sh 'cat ${HOME_DIR}/conf/pluto_config.yaml'
                  }
                }
        }
        stage('Get charts'){
            steps {
                script {
                   sh 'echo "product_set_version=${PRODUCT_SET}" '
                   sh 'echo "drop=${DROP}" '
                   commonMethods.extract_jq()
                   get_chart_versions()
                   }
                 }
        }
        stage('Copy to charts folder'){
             steps {
                 script {
                   sh 'curl -4 https://arm.epk.ericsson.se/artifactory/proj-enm-dev-internal-helm/eric-enm-bro-integration/eric-enm-bro-integration-${bro_chart_version}.tgz -o src/eric-enm-bro-integration-${bro_chart_version}.tgz'
                   sh 'curl -4 https://arm.epk.ericsson.se/artifactory/proj-enm-dev-internal-helm/eric-enm-pre-deploy-integration/eric-enm-pre-deploy-integration-${pre_deploy_chart_version}.tgz -o src/eric-enm-pre-deploy-integration-${pre_deploy_chart_version}.tgz'
                   sh 'curl -4 https://arm.epk.ericsson.se/artifactory/proj-enm-dev-internal-helm/eric-enm-monitoring-integration/eric-enm-monitoring-integration-${monitoring_chart_version}.tgz -o src/eric-enm-monitoring-integration-${monitoring_chart_version}.tgz'
                   sh 'curl -4 https://arm.epk.ericsson.se/artifactory/proj-enm-dev-internal-helm/eric-enm-infra-integration/eric-enm-infra-integration-${infra_chart_version}.tgz -o src/eric-enm-infra-integration-${infra_chart_version}.tgz'
                   sh 'curl -4 https://arm.epk.ericsson.se/artifactory/proj-enm-dev-internal-helm/eric-enm-stateless-integration/eric-enm-stateless-integration-${stateless_chart_version}.tgz -o src/eric-enm-stateless-integration-${stateless_chart_version}.tgz'
                 }
              }
        }
        stage('Extracting charts and move to src folder'){
             steps {
                script {
                   echo "Extracting bro charts"
                   sh "tar -xf src/eric-enm-bro-integration-${bro_chart_version}.tgz -C src/"
                   echo "Extracting pre deploy charts"
                   sh "tar -xf src/eric-enm-pre-deploy-integration-${pre_deploy_chart_version}.tgz -C src/"
                   echo "Extracting monitoring charts"
                   sh "tar -xf src/eric-enm-monitoring-integration-${monitoring_chart_version}.tgz -C src/"
                   echo "Extracting infra charts"
                   sh "tar -xf src/eric-enm-infra-integration-${infra_chart_version}.tgz -C src/"
                   echo "Extracting stateless charts"
                   sh "tar -xf src/eric-enm-stateless-integration-${stateless_chart_version}.tgz -C src/"
                   sh "rm -rf src/*.tgz"
                   }
               }
         }
         stage('Scanning Helm Charts with Pluto'){
             steps {
                 script {
                   echo "Pluto in Action"
                   sh  '''  docker run --user $(id -u):$(id -g) -v $PWD/conf:/opt/pluto/conf -v $PWD/src:/tmp/src -v $PWD/reports:/tmp/reports armdocker.rnd.ericsson.se/proj-adp-cicd-drop/rule-scan-pluto:latest '''
                   }
                 }
        }
}
        post {
           success {
                script {
                sh 'echo "success"'
                       }
                   }
           failure {
                script  {
                sh 'echo "failed"'
                        }
                   }
           always {
            script{
            archiveArtifacts 'reports/pluto_charts_scan_eric-enm-bro-integration'
            archiveArtifacts 'reports/pluto_charts_scan_eric-enm-monitoring-integration'
            archiveArtifacts 'reports/pluto_charts_scan_eric-enm-pre-deploy-integration'
            archiveArtifacts 'reports/pluto_charts_scan_eric-enm-infra-integration'
            archiveArtifacts 'reports/pluto_charts_scan_eric-enm-stateless-integration'
            }
        }
}

}


</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>