<?xml version="1.1" encoding="UTF-8" standalone="no"?><flow-definition plugin="workflow-job@1145.v7f2433caa07f">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.9.3"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.9.3">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>IMAGE_TAG</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>ENM Cloud Native Build pipeline backup-restore-agent-cbos-update</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.7"/>
    <hudson.security.AuthorizationMatrixProperty>
      <inheritanceStrategy class="org.jenkinsci.plugins.matrixauth.inheritance.InheritParentStrategy"/>
      <permission>USER:hudson.model.Item.Build:eakehnc</permission>
      <permission>USER:hudson.model.Item.Build:eeisken</permission>
      <permission>USER:hudson.model.Item.Build:ehanaar</permission>
      <permission>USER:hudson.model.Item.Build:ehynrob</permission>
      <permission>USER:hudson.model.Item.Build:ejjsjjn</permission>
      <permission>USER:hudson.model.Item.Build:epunsri</permission>
      <permission>USER:hudson.model.Item.Build:eramdri</permission>
      <permission>USER:hudson.model.Item.Build:esteved</permission>
      <permission>USER:hudson.model.Item.Build:etherno</permission>
      <permission>USER:hudson.model.Item.Build:ezpetgi</permission>
      <permission>USER:hudson.model.Item.Build:ezrvaam</permission>
      <permission>USER:hudson.model.Item.Cancel:eakehnc</permission>
      <permission>USER:hudson.model.Item.Cancel:eeisken</permission>
      <permission>USER:hudson.model.Item.Cancel:ehanaar</permission>
      <permission>USER:hudson.model.Item.Cancel:ehynrob</permission>
      <permission>USER:hudson.model.Item.Cancel:ejjsjjn</permission>
      <permission>USER:hudson.model.Item.Cancel:epunsri</permission>
      <permission>USER:hudson.model.Item.Cancel:eramdri</permission>
      <permission>USER:hudson.model.Item.Cancel:esteved</permission>
      <permission>USER:hudson.model.Item.Cancel:etherno</permission>
      <permission>USER:hudson.model.Item.Cancel:ezpetgi</permission>
      <permission>USER:hudson.model.Item.Cancel:ezrvaam</permission>
      <permission>USER:hudson.model.Item.Configure:eakehnc</permission>
      <permission>USER:hudson.model.Item.Configure:eeisken</permission>
      <permission>USER:hudson.model.Item.Configure:ehanaar</permission>
      <permission>USER:hudson.model.Item.Configure:ehynrob</permission>
      <permission>USER:hudson.model.Item.Configure:ejjsjjn</permission>
      <permission>USER:hudson.model.Item.Configure:epunsri</permission>
      <permission>USER:hudson.model.Item.Configure:eramdri</permission>
      <permission>USER:hudson.model.Item.Configure:esteved</permission>
      <permission>USER:hudson.model.Item.Configure:etherno</permission>
      <permission>USER:hudson.model.Item.Configure:ezpetgi</permission>
      <permission>USER:hudson.model.Item.Configure:ezrvaam</permission>
      <permission>USER:hudson.model.Item.Read:eakehnc</permission>
      <permission>USER:hudson.model.Item.Read:eeisken</permission>
      <permission>USER:hudson.model.Item.Read:ehanaar</permission>
      <permission>USER:hudson.model.Item.Read:ehynrob</permission>
      <permission>USER:hudson.model.Item.Read:ejjsjjn</permission>
      <permission>USER:hudson.model.Item.Read:epunsri</permission>
      <permission>USER:hudson.model.Item.Read:eramdri</permission>
      <permission>USER:hudson.model.Item.Read:esteved</permission>
      <permission>USER:hudson.model.Item.Read:etherno</permission>
      <permission>USER:hudson.model.Item.Read:ezpetgi</permission>
      <permission>USER:hudson.model.Item.Read:ezrvaam</permission>
      <permission>USER:hudson.model.Item.Workspace:eakehnc</permission>
      <permission>USER:hudson.model.Item.Workspace:eeisken</permission>
      <permission>USER:hudson.model.Item.Workspace:ehanaar</permission>
      <permission>USER:hudson.model.Item.Workspace:ehynrob</permission>
      <permission>USER:hudson.model.Item.Workspace:ejjsjjn</permission>
      <permission>USER:hudson.model.Item.Workspace:epunsri</permission>
      <permission>USER:hudson.model.Item.Workspace:eramdri</permission>
      <permission>USER:hudson.model.Item.Workspace:esteved</permission>
      <permission>USER:hudson.model.Item.Workspace:etherno</permission>
      <permission>USER:hudson.model.Item.Workspace:ezpetgi</permission>
      <permission>USER:hudson.model.Item.Workspace:ezrvaam</permission>
      <permission>USER:hudson.model.Run.Delete:eakehnc</permission>
      <permission>USER:hudson.model.Run.Delete:eeisken</permission>
      <permission>USER:hudson.model.Run.Delete:ehanaar</permission>
      <permission>USER:hudson.model.Run.Delete:ehynrob</permission>
      <permission>USER:hudson.model.Run.Delete:ejjsjjn</permission>
      <permission>USER:hudson.model.Run.Delete:epunsri</permission>
      <permission>USER:hudson.model.Run.Delete:eramdri</permission>
      <permission>USER:hudson.model.Run.Delete:esteved</permission>
      <permission>USER:hudson.model.Run.Delete:etherno</permission>
      <permission>USER:hudson.model.Run.Delete:ezpetgi</permission>
      <permission>USER:hudson.model.Run.Delete:ezrvaam</permission>
      <permission>USER:hudson.model.Run.Update:eakehnc</permission>
      <permission>USER:hudson.model.Run.Update:eeisken</permission>
      <permission>USER:hudson.model.Run.Update:ehanaar</permission>
      <permission>USER:hudson.model.Run.Update:ehynrob</permission>
      <permission>USER:hudson.model.Run.Update:ejjsjjn</permission>
      <permission>USER:hudson.model.Run.Update:epunsri</permission>
      <permission>USER:hudson.model.Run.Update:eramdri</permission>
      <permission>USER:hudson.model.Run.Update:esteved</permission>
      <permission>USER:hudson.model.Run.Update:etherno</permission>
      <permission>USER:hudson.model.Run.Update:ezpetgi</permission>
      <permission>USER:hudson.model.Run.Update:ezrvaam</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.8">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs/>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.ericsson.duraci.messaging.ImplicitMessagingContributorProperty plugin="eiffel-core@75.0.1">
      <scriptEnabled>false</scriptEnabled>
    </com.ericsson.duraci.messaging.ImplicitMessagingContributorProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>30</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@2.2.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty>
      <abortPrevious>false</abortPrevious>
    </org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty>
    <com.ericsson.duraci.messaging.ImplicitEiffelMessagingJobProperty plugin="eiffel-core@75.0.1">
      <messagingEnabled>false</messagingEnabled>
      <jobFinishedDisabled>false</jobFinishedDisabled>
    </com.ericsson.duraci.messaging.ImplicitEiffelMessagingJobProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.33">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>IMAGE_TAG</name>
          <description>Common Base OS image tag (e.g. 1.2.3-4)</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <EnvInjectJobProperty plugin="envinject@2.4.0">
      <info>
        <propertiesContent>GERRIT_REFSPEC=refs/heads/master</propertiesContent>
        <secureGroovyScript plugin="script-security@1138.v8e727069a_025">
          <script/>
          <sandbox>true</sandbox>
        </secureGroovyScript>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
    </EnvInjectJobProperty>
    
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2660.vb_c0412dc4e6d">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@4.10.3">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <name>origin</name>
          <refspec>${GERRIT_REFSPEC}</refspec>
          <url>ssh://lciadm100@gerritmirror-ha.lmera.ericsson.se:29418/OSS/com.ericsson.oss.itpf/backup-restore-agent</url>
          <credentialsId>lciadm100_private_key</credentialsId>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>refs/heads/master</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <gitTool>Default</gitTool>
      <submoduleCfg class="empty-list"/>
      <extensions>
        <hudson.plugins.git.extensions.impl.WipeWorkspace/>
      </extensions>
    </scm>
    <scriptPath>jenkins/Jenkinsfile.cbos.pra</scriptPath>
    <lightweight>true</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>